<!doctype html>
<html lang="en">
	<head>
		<title data-ng-bind="page.title">Zenobase</title>
		<meta charset="utf-8"/>
		<meta property="og:title" content="Zenobase"/>
		<meta property="og:image" content="https://zenobase.com/img/logo.png"/>
		<meta property="og:url" content="https://zenobase.com/"/>
		<meta property="og:description" content="Store, aggregate and visualize your data."/>
		<meta name="description" content="Store, aggregate and visualize your data."/>
		<meta name="viewport" content="width=device-width"/>
		<meta name="mobile-web-app-capable" content="yes"/>
		<meta name="application-name" content="Zenobase"/>
		<link rel="canonical" href="https://zenobase.com/"/>
		<link rel="apple-touch-icon" href="/img/icon.png"/>
	</head>

	<body id="app" data-ng-controller="ApplicationController">

		<div id="sign-up-banner" class="ng-cloak" data-ng-show="user.getName() == 'guest'">
			<div id="sign-up-link" class="alert" style="cursor:pointer;" data-ng-click="openDialog('sign-up-dialog')">
				Please <strong>sign up </strong> to preserve your data.
			</div>
		</div>

		<div id="verify-banner" class="ng-cloak" data-ng-show="user && user.getName() != 'guest' && !user.verified">
			<div class="alert" style="cursor:pointer;" data-ng-click="openDialogInPage('/users/' + user.getName(), 'account-settings-dialog')">
				Please <strong>verify your email address</strong>, so we can contact you if your data is on fire (or you need to reset your password).
			</div>
		</div>

		<div id="pay-up-banner" class="ng-cloak" data-ng-show="user && user.getName() != 'guest' && user.verified && !user.quota">
			<div class="alert" style="cursor:pointer;" data-ng-click="openPage('/pricing')">
				Upgrade to a <strong>paid plan</strong> to store more data, and help support this service.
			</div>
		</div>

		<header class="container-fluid">
			<a href="/#/"><img src="/img/logo.png" alt="Zenobase" width="159" height="25"/></a>
			<div class="pull-right ng-cloak">
				<p data-ng-show="user">
					<i class="fa fa-user"></i> <a id="user-profile-link" data-ng-href="/#/users/{{user.getName()}}">{{user.getName()}}</a> | <a id="sign-out-link" data-ng-click="signOut()">Sign out</a>
				</p>
				<p data-ng-hide="user">
					<a id="sign-in-link" data-ng-click="openDialog('sign-in-dialog')">Sign in</a>
				</p>
			</div>
		</header>

		<div class="container-fluid ng-cloak">
			<div id="alert-banner" class="alert alert-block {{alert.level}}">
				<a class="close" data-ng-click="alert.clear()">&times;</a>
				<a data-ng-bind-html="alert.message" data-ng-show="alert.onClick != null" data-ng-click="alert.onClick()"></a>
				<span data-ng-bind-html="alert.message" data-ng-hide="alert.onClick != null"></span>
				<span data-ng-show="alert.undo">
					<a id="undo-link" data-ng-click="undo(alert.undo)">Undo.</a>
				</span>
			</div>
		</div>

		<div class="container-fluid ng-cloak" data-ng-show="user.suspended">
			<div class="alert alert-block alert-error">
				This account has been suspended. Please contact support.
			</div>
		</div>

		<div id="content" data-ng-hide="user.suspended" data-ng-view>
			<div class="container-fluid" style="margin-top: 14px">
				Loading...
			</div>
		</div>

		<footer class="container-fluid">
			&copy; 2012&ndash;<span data-ui-current-year></span> Zenobase LLC
			&bull; <a href="/#/legal/" class="footer-link">Legal</a>
			&bull; <a href="/#/pricing/" class="footer-link">Pricing</a>
			&bull; <a href="/#/api/" class="footer-link">API</a>
			&bull; <a href="mailto:info@zenobase.com" class="footer-link">Contact</a>
		</footer>

		<div id="sign-in-dialog" class="hide" data-ui-modal data-ng-controller="SignInDialogController">
			<form name="form" data-ng-submit="signIn()" class="modal-form">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">&times;</a>
					<h4>Sign in</h4>
				</div>
				<div class="modal-body">
					<div id="sign-in-message" class="alert alert-error" data-ng-show="message">
						{{message}}
					</div>
					<div class="control-group">
						<label for="sign-in-username"><strong>Username</strong></label>
						<input id="sign-in-username" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="large" required data-ng-model="username" data-ui-focus-on="openDialog:sign-in-dialog"/>
					</div>
					<div class="control-group">
						<label for="sign-in-password"><strong>Password</strong></label>
						<input id="sign-in-password" type="password" class="large" required data-ng-model="password"/>
					</div>
				</div>
				<div class="modal-footer">
					<div class="pull-left">
						<a id="lost-password-link" data-ng-click="openDialog('lost-password-dialog')">Lost password?</a>
					</div>
					<button id="sign-in-button" type="submit" class="btn btn-primary">Sign in</button>
					<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>


		<div id="lost-password-dialog" class="hide" data-ui-modal data-ng-controller="LostPasswordDialogController">
			<form name="form" novalidate data-ng-submit="submit()" class="modal-form">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">&times;</a>
					<h4>Reset Password</h4>
				</div>
				<div class="modal-body">
					<div id="lost-password-message" class="alert alert-error" data-ng-show="message">
						{{message}}
					</div>
					<div class="control-group">
						<label for="lost-password-username"><strong>Username</strong></label>
						<input id="lost-password-username" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="large" data-ng-model="username" data-ui-focus-on="openDialog:lost-password-dialog" required/>
					</div>
					<div class="control-group">
						<label for="lost-password-email"><strong>Email</strong></label>
						<input id="lost-password-email" type="email" class="large" data-ng-model="email" required/>
					</div>
				</div>
				<div class="modal-footer">
					<button id="lost-password-button" type="submit" class="btn btn-primary" data-ng-disabled="!form.$valid">Reset</button>
					<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>

		<div id="sign-up-dialog" class="hide" data-ui-modal data-ng-controller="SignUpDialogController">
			<form name="form" novalidate data-ng-submit="submit()" class="modal-form">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">&times;</a>
						<h4>Sign up</h4>
					</div>
					<div class="modal-body">
						<div id="sign-up-message" class="alert alert-error" data-ng-show="message">
							{{message}}
						</div>
						<div class="control-group">
							<label for="sign-up-username"><strong>Username</strong> (4-16 lowercase letters and numbers)</label>
							<div class="input-append">
								<input id="sign-up-username" name="username" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="large" required data-ui-focus-on="openDialog:sign-up-dialog" data-ng-minlength="4" data-ng-maxlength="16" data-ng-pattern="/^[a-z0-9]+$/" data-ng-model="username"/>
								<span class="add-on">
									<i class="fa fa-exclamation" title="not valid" data-ng-show="form.username.$invalid"></i>
									<i class="fa fa-check" title="valid" data-ng-hide="form.username.$invalid"></i>
								</span>
							</div>
						</div>
						<div class="control-group">
							<label for="sign-up-password"><strong>Password</strong> (min 8 characters)</label>
							<div class="input-append">
								<input id="sign-up-password" name="password" type="password" class="large" required data-ng-minlength="8" data-ng-model="password"/>
								<span class="add-on">
									<i class="fa fa-exclamation" title="not valid" data-ng-show="form.password.$invalid"></i>
									<i class="fa fa-check" title="valid" data-ng-hide="form.password.$invalid"></i>
								</span>
							</div>
						</div>
						<div class="control-group">
							<label for="sign-up-password-confirm"><strong>Password</strong> (repeat)</label>
							<div class="input-append">
								<input id="sign-up-password-confirm" name="retypedPassword" type="password" class="large" required data-ng-minlength="8" data-ng-model="passwordConfirmed" ui-password-match="sign-up-password"/>
								<span class="add-on">
									<i class="fa fa-exclamation" title="not valid" data-ng-show="form.retypedPassword.$invalid"></i>
									<i class="fa fa-check" title="valid" data-ng-hide="form.retypedPassword.$invalid"></i>
								</span>
							</div>
						</div>
						<div class="control-group">
							<label for="sign-up-email"><strong>Email</strong></label>
							<div class="input-append">
								<input id="sign-up-email" name="email" type="email" class="large" required data-ng-model="email"/>
								<span class="add-on">
									<i class="fa fa-exclamation" title="not valid" data-ng-show="form.email.$invalid"></i>
									<i class="fa fa-check" title="valid" data-ng-hide="form.email.$invalid"></i>
								</span>
							</div>
							<p class="help-block">We'll email you a confirmation, and use this address if you ever need to reset your password.</p>
						</div>
					</div>
					<div class="modal-footer">
						<button id="sign-up-button" type="submit" class="btn btn-primary" data-ng-disabled="!form.$valid">Sign up</button>
						<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
					</div>
			</form>
		</div>

		<script>
			window.onerror = function(message, file, line) {
				console.log('error', message, file, line);
			};
			window.noop = function() {};
		</script>
		<script src="/js/jquery-2.1.4.min.js"></script>
		<script src="/js/moment-custom-2.13.0.min.js"></script>
		<script src="/js/bootstrap-custom-2.3.2.min.js"></script>
		<script src="/js/highcharts-custom-4.2.5.min.js"></script>
		<script src="/js/angular-custom-1.3.16.min.js"></script>
		<script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>
		<script src="/js/babyparse-0.4.1.min.js"></script>
		<script src="https://unpkg.com/deck.gl@^9.0.0/dist.min.js"></script>
		<script src="//maps.googleapis.com/maps/api/js?libraries=places&v=3.63&key=AIzaSyDv7t1arxF_85-QF-ZUi9C4MV1z94BsH0I&callback=noop"></script>
		<script src="/js/highlight-8.4.min.js"></script>
		<script type="module" src="/src/main.js"></script>

	</body>

</html>
