<div id="{{settings.id}}-content" data-ng-controller="CountWidgetController">

	<table class="table" data-ng-show="terms.length">
		<thead>
			<tr>
				<th style="text-transform: capitalize">
					{{settings.field}} <i data-ng-class="classesForOrderBy('term')"></i>
				</th>
				<th style="text-align: right">
					Count <i data-ng-class="classesForOrderBy('count')"></i>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="term in terms">
				<td><a data-ng-click="filter(term)" data-ng-bind-html="term.label | field:settings.field"></a></td>
				<td style="text-align: right">{{term.count | number }}</td>
			</tr>
		</tbody>
	</table>

	<p data-ng-show="terms == null" class="none">Loading...</p>

	<p data-ng-show="terms.length == 0" class="none">None</p>

	<div class="btn-toolbar" data-ng-show="terms.length">
		<div class="btn-group pull-right">
			<button class="btn" title="Previous" data-ng-click="prev()" data-ng-disabled="!hasPrev()"><i class="fa fa-chevron-left"></i></button>
			<button class="btn" title="Next" data-ng-click="next()" data-ng-disabled="!hasNext()"><i class="fa fa-chevron-right"></i></button>
		</div>
		<div class="btn-group pull-right">
			<button class="btn disabled zeno-paging"><b>{{offset + 1}}</b> &ndash; <b>{{offset + terms.length}}</b></button>
		</div>
	</div>

	<div data-ui-modal="settings.id + '-dialog'" data-ng-controller="CountWidgetDialogController">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Count Widget</h4>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="label">Title</label>
					<div class="controls form-horizontal">
						<input name="label" type="text" required min="1" max="20" data-ng-model="settings.label"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="field">Term</label>
					<div class="controls form-horizontal">
						<select required data-ng-model="settings.field" data-ng-options="field.name as field.name for field in fields" class="input-medium"></select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="limit">Limit</label>
					<div class="controls form-horizontal">
						<input name="limit" type="number" required min="1" max="100" data-ng-model="settings.limit" class="input-mini"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="order">Order</label>
					<div class="controls form-horizontal">
						<select required data-ng-model="order" data-ng-model-options="{ getterSetter : true }" data-ng-options="value for value in orderBy" class="input-small"></select>
						<select required data-ng-model="asc" data-ng-model-options="{ getterSetter: true }" data-ng-options="value as label for (label, value) in ascDesc" class="input-small"></select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="filter">Filter</label>
					<div class="controls form-horizontal input-append">
						<input name="filter" type="text" data-ng-model="settings.filter" data-ui-check-filter="bucket" placeholder="e.g. tag:xyz"/>
						<span class="add-on">
							<i class="fa fa-exclamation" title="not valid" data-ng-show="form.filter.$invalid"></i>
							<i class="fa fa-check" title="valid" data-ng-hide="form.filter.$invalid"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="pull-left" data-ng-click="removeWidget(settings)" data-dismiss="modal">Remove</a>
				<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!form.$valid">Update</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
