<div id="{{settings.id}}-content" data-ng-controller="HistogramWidgetController">

	<div class="row-fluid" data-ng-show="intervals.length">
		<div class="pull-right">
			<a class="xbtn" title="Download" data-ui-download-csv><i class="fa fa-file-text"></i></a>
			<a class="xbtn" title="Snapshot" data-ng-click="snapshot()"><i class="fa fa-camera"></i></a>
		</div>
	</div>

	<div id="{{settings.id}}-chart" data-ui-chart-options="chartOptions" data-ui-id="{{settings.id}}" data-ui-snapshot data-ng-show="intervals.length"></div>

	<p data-ng-show="intervals == null" class="none">Loading...</p>

	<p data-ng-show="intervals.length == 0" class="none">None</p>

	<div class="btn-toolbar">
		<div class="btn-group"></div>
	</div>

	<div data-ui-modal="settings.id + '-dialog'" data-ng-controller="HistogramWidgetDialogController">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Histogram Widget</h4>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="label">Title</label>
					<div class="controls form-horizontal">
						<input name="label" type="text" required min="1" max="20" data-ng-model="settings.label"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="field">Values</label>
					<div class="controls form-horizontal">
						<select name="field" class="input-medium" required data-ng-model="settings.field" data-ng-options="field.name as field.name for field in getFields()"></select>
						by <input name="interval" class="input-mini" type="text" data-ng-model="settings.interval" data-ui-field-value/>
						<select name="unit" class="input-small" data-ng-model="settings.unit" data-ng-options="unit for unit in getUnits()" data-ng-show="getUnits().length"></select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="filter">Filter</label>
					<div class="controls form-horizontal input-append">
						<input name="filter" type="text" data-ng-model="settings.filter" data-ui-check-filter="bucket" placeholder="e.g. tag:xyz"/>
						<span class="add-on">
							<i class="fa fa-exclamation" title="not valid" data-ng-show="form.filter.$invalid"></i>
							<i class="fa fa-check" title="valid" data-ng-hide="form.filter.$invalid"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="pull-left" data-ng-click="removeWidget(settings)" data-dismiss="modal">Remove</a>
				<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!form.$valid || !valid()">Update</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
