<div id="{{settings.id}}-content" data-ng-controller="MapWidgetController">

	<div id="{{settings.id}}-map" style="height: 350px" class="map" data-ng-show="!bounds.isEmpty() || !boundsB.isEmpty()"></div>

	<p data-ng-show="bounds == null" class="none">Loading...</p>

	<p data-ng-show="bounds.isEmpty() && boundsB.isEmpty()" class="none">None</p>

	<div class="btn-toolbar">
		<div class="btn-group"></div>
	</div>

	<div data-ui-modal="settings.id + '-dialog'" data-ng-controller="MapWidgetDialogController">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Map Widget</h4>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="label">Title</label>
					<div class="controls">
						<input name="label" type="text" required min="1" max="20" data-ng-model="settings.label"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="pull-left" data-ng-click="removeWidget(settings)" data-dismiss="modal">Remove</a>
				<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!form.$valid">Update</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
