<div id="{{settings.id}}-content" data-ng-controller="PolarWidgetController">

	<div class="row-fluid" data-ng-show="times.length || timesB.length">
		<div class="dropdown pull-right">
			<a class="xbtn dropdown-toggle" data-toggle="dropdown" title="Filter"> <i class="fa fa-filter"></i><b class="caret"></b></a>
			<ul class="dropdown-menu" role="menu">
				<li role="presentation" data-ng-show="settings.interval == 'month_of_year'">
					<a role="menuitem" data-ng-click="filter('[1..3]')">Jan - Mar</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'month_of_year'">
					<a role="menuitem" data-ng-click="filter('[4..6]')">Apr - Jun</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'month_of_year'">
					<a role="menuitem" data-ng-click="filter('[7..9]')">Jul - Sep</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'month_of_year'">
					<a role="menuitem" data-ng-click="filter('[10..12]')">Oct - Dec</a>
				</li>
				<li class="divider" data-ng-show="settings.interval == 'month_of_year'"></li>
				<li role="presentation" data-ng-show="settings.interval == 'month_of_year'">
					<a role="menuitem" data-ng-click="filter('[4..9]')">Apr - Sep</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'month_of_year'">
					<a role="menuitem" data-ng-click="filter('[4..9]', true)">Oct - Mar</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'day_of_month'">
					<a role="menuitem" data-ng-click="filter('[1..16)')">1st - 15th</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'day_of_month'">
					<a role="menuitem" data-ng-click="filter('[16..*)')">16th - 31st</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'day_of_week'">
					<a role="menuitem" data-ng-click="filter('[1..5]')">Mon - Fri</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'day_of_week'">
					<a role="menuitem" data-ng-click="filter('[6..7]')">Sat - Sun</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'hour_of_day'">
					<a role="menuitem" data-ng-click="filter('[0..12)')">0h - 12h</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'hour_of_day'">
					<a role="menuitem" data-ng-click="filter('[12..*)')">12h - 24h</a>
				</li>
				<li class="divider" data-ng-show="settings.interval == 'hour_of_day'"></li>
				<li role="presentation" data-ng-show="settings.interval == 'hour_of_day'">
					<a role="menuitem" data-ng-click="filter('[0..3)')">0h - 3h</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'hour_of_day'">
					<a role="menuitem" data-ng-click="filter('[3..6)')">3h - 6h</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'hour_of_day'">
					<a role="menuitem" data-ng-click="filter('[6..9)')">6h - 9h</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'hour_of_day'">
					<a role="menuitem" data-ng-click="filter('[9..12)')">9h - 12h</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'hour_of_day'">
					<a role="menuitem" data-ng-click="filter('[12..15)')">12h - 15h</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'hour_of_day'">
					<a role="menuitem" data-ng-click="filter('[15..18)')">15h - 18h</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'hour_of_day'">
					<a role="menuitem" data-ng-click="filter('[18..21)')">18h - 21h</a>
				</li>
				<li role="presentation" data-ng-show="settings.interval == 'hour_of_day'">
					<a role="menuitem" data-ng-click="filter('[21..*)')">21h - 24h</a>
				</li>
			</ul>
			<a class="xbtn" title="Download" data-ui-download-csv><i class="fa fa-file-text"></i></a>
			<a class="xbtn" title="Snapshot" data-ng-click="snapshot()"><i class="fa fa-camera"></i></a>
		</div>
	</div>

	<div id="{{settings.id}}-chart" data-ui-chart-options="chartOptions" data-ui-id="{{settings.id}}" data-ui-snapshot data-ng-show="times.length || timesB.length"></div>

	<p data-ng-show="times == null" class="none">Loading...</p>

	<p data-ng-show="times.length + timesB.length == 0" class="none">None</p>

	<div class="btn-toolbar">
		<div class="btn-group"></div>
	</div>

	<div data-ui-modal="settings.id + '-dialog'" data-ng-controller="PolarWidgetDialogController">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Time Histogram Widget</h4>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="label">Title</label>
					<div class="controls form-horizontal">
						<input name="label" type="text" required min="1" max="20" data-ng-model="settings.label"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="valueField">Values</label>
					<div class="controls form-horizontal">
						<select name="statistic" class="input-small" required data-ng-model="settings.statistic" data-ng-options="value for value in getStatistics(settings.value_field)"></select>
						of <select name="valueField" class="input-medium" data-ng-model="settings.value_field" data-ng-options="field.name as field.name for field in getFields()"></select>
						<span data-ng-show="getUnits().length"> in <select name="unit" class="input-small" data-ng-model="settings.unit" data-ng-options="unit for unit in getUnits()"></select></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="interval">Interval</label>
					<div class="controls form-horizontal">
						<select name="interval" required data-ng-model="settings.interval" data-ng-options="interval.id as interval.label for interval in intervals"></select>
					</div>
				</div>
				<div class="control-group">
					<div class="controls form-horizontal">
						<label class="checkbox"><input type="checkbox" data-ng-model="settings.mark" data-ng-true-value="'avg'"/> highlight average interval</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="filter">Filter</label>
					<div class="controls form-horizontal input-append">
						<input name="filter" type="text" data-ng-model="settings.filter" data-ui-check-filter="bucket" placeholder="e.g. tag:xyz"/>
						<span class="add-on">
							<i class="fa fa-exclamation" title="not valid" data-ng-show="form.filter.$invalid"></i>
							<i class="fa fa-check" title="valid" data-ng-hide="form.filter.$invalid"></i>
						</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="keyField">Timestamp</label>
					<div class="controls form-horizontal">
						<select name="keyField" class="input-small" data-ng-model="settings.key_field" data-ng-options="subfield.value as subfield.label for subfield in subfields"></select>
						<p class="help-block">How to handle events with multiple timestamps.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="pull-left" data-ng-click="removeWidget(settings)" data-dismiss="modal">Remove</a>
				<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!form.$valid || !valid()">Update</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
