<div id="{{settings.id}}-content" data-ng-controller="ScoreboardWidgetController">

	<table class="table" data-ng-show="terms.length">
		<thead>
			<tr>
				<th style="text-transform: capitalize">{{settings.key_field}} <i data-ng-class="classesForOrderBy('term')"></i></th>
				<th style="text-align: right" data-ng-show="selected('count')">Count <i data-ng-class="classesForOrderBy('count')"></i></th>
				<th style="text-align: right" data-ng-show="selected('min')">Min <i data-ng-class="classesForOrderBy('min')"></i></th>
				<th style="text-align: right" data-ng-show="selected('max')">Max <i data-ng-class="classesForOrderBy('max')"></i></th>
				<th style="text-align: right" data-ng-show="selected('sum')">Sum <i data-ng-class="classesForOrderBy('sum')"></i></th>
				<th style="text-align: right" data-ng-show="selected('avg')">Avg <i data-ng-class="classesForOrderBy('avg')"></i></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="term in terms">
				<td><a data-ng-click="filter(term)" data-ng-bind-html="term.label | field:settings.key_field"></a></td>
				<td style="text-align: right" data-ng-bind-html="term.count | number" data-ng-show="selected('count')"></td>
				<td style="text-align: right" data-ng-bind-html="term.min | field:settings.value_field" data-ng-show="selected('min')"></td>
				<td style="text-align: right" data-ng-bind-html="term.max | field:settings.value_field" data-ng-show="selected('max')"></td>
				<td style="text-align: right" data-ng-bind-html="term.sum | field:settings.value_field" data-ng-show="selected('sum')"></td>
				<td style="text-align: right" data-ng-bind-html="term.avg | field:settings.value_field" data-ng-show="selected('avg')"></td>
			</tr>
			<tr data-ng-hide="terms">
				<td colspan="6"><i>None</i></td>
			</tr>
		</tbody>
	</table>

	<p data-ng-show="terms == null" class="none">Loading...</p>

	<p data-ng-show="terms.length == 0" class="none">None</p>

	<div class="btn-toolbar">
		<div class="btn-group"></div>
	</div>

	<div data-ui-modal="settings.id + '-dialog'" data-ng-controller="ScoreboardWidgetDialogController">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Scoreboard Widget</h4>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="label">Title</label>
					<div class="controls form-horizontal">
						<input name="label" type="text" required min="1" max="20" data-ng-model="settings.label"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="limit">Limit</label>
					<div class="controls form-horizontal">
						<input name="limit" type="number" required min="1" max="100" data-ng-model="settings.limit"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="keyField">Term</label>
					<div class="controls form-horizontal">
						<select name="keyField" required data-ng-model="settings.key_field" data-ng-options="field.name as field.name for field in getKeyFields()"></select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="valueField">Values</label>
					<div class="controls form-horizontal">
						<select name="valueField" class="input-medium" required data-ng-model="settings.value_field" data-ng-options="field.name as field.name for field in getValueFields()"></select>
						<span data-ng-show="getUnits().length"> in <select name="unit" class="input-small" data-ng-model="settings.unit" data-ng-options="unit for unit in getUnits()"></select></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="order">Order</label>
					<div class="controls form-horizontal">
						<select required data-ng-model="order" data-ng-model-options="{ getterSetter : true }" data-ng-options="value for value in orderBy" class="input-small"></select>
						<select required data-ng-model="asc" data-ng-model-options="{ getterSetter : true }" data-ng-options="value as label for (label, value) in ascDesc" class="input-small"></select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Statistics</label>
					<div class="well">
						<label class="checkbox">
							<input type="checkbox" data-ng-checked="selected('count')" data-ng-click="toggle('count')"/> Count
						</label>
						<label class="checkbox">
							<input type="checkbox" data-ng-checked="selected('min')" data-ng-click="toggle('min')"/> Min
						</label>
						<label class="checkbox">
							<input type="checkbox" data-ng-checked="selected('max')" data-ng-click="toggle('max')"/> Max
						</label>
						<label class="checkbox">
							<input type="checkbox" data-ng-checked="selected('sum')" data-ng-click="toggle('sum')"/> Sum
						</label>
						<label class="checkbox">
							<input type="checkbox" data-ng-checked="selected('avg')" data-ng-click="toggle('avg')"/> Avg
						</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="filter">Filter</label>
					<div class="controls form-horizontal input-append">
						<input name="filter" type="text" data-ng-model="settings.filter" data-ui-check-filter="bucket" placeholder="e.g. tag:xyz"/>
						<span class="add-on">
							<i class="fa fa-exclamation" title="not valid" data-ng-show="form.filter.$invalid"></i>
							<i class="fa fa-check" title="valid" data-ng-hide="form.filter.$invalid"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="pull-left" data-ng-click="removeWidget(settings)" data-dismiss="modal">Remove</a>
				<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!form.$valid || !isUnitValid()">Update</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
