<div id="{{settings.id}}-content" data-ng-controller="SonificationWidgetController">

	<button class="btn" title="Play" data-ng-click="play()" data-ng-disabled="!tracks.length || isRunning()"><i class="fa fa-play"></i></button>
	<button class="btn" title="Stop" data-ng-click="stop()" data-ng-disabled="!isRunning()"><i class="fa fa-stop"></i></button>

	<div data-ui-modal="settings.id + '-dialog'" data-ng-controller="SonificationWidgetDialogController">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Sonify Widget</h4>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="label">Title</label>
					<div class="controls form-horizontal">
						<input name="label" type="text" required min="1" max="20" data-ng-model="settings.label"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="scale">Scale</label>
					<div class="controls form-horizontal">
						<select required data-ng-model="settings.scale" data-ng-options="scale for scale in scales" class="input-medium"></select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="tempo">Tempo (bpm)</label>
					<div class="controls form-horizontal">
						<input name="tempo" type="number" required min="25" max="200" data-ng-model="settings.tempo" class="input-mini"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="pull-left" data-ng-click="removeWidget(settings)" data-dismiss="modal">Remove</a>
				<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!form.$valid">Update</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
