<div id="{{settings.id}}-content" data-ng-controller="TimelineWidgetController">

	<div class="row-fluid" data-ng-show="times.length || timesB.length">
		<div class="pull-right dropdown">
			<a class="xbtn dropdown-toggle" data-toggle="dropdown" title="Filter"> <i class="fa fa-filter"></i><b class="caret"></b></a>
			<ul class="dropdown-menu" role="menu">
				<li role="presentation">
					<a role="menuitem" data-ng-click="filters.thisYear()">this year</a>
				</li>
				<li role="presentation">
					<a role="menuitem" data-ng-click="filters.lastYear()">last year</a>
				</li>
				<li class="divider"></li>
				<li role="presentation">
					<a role="menuitem" data-ng-click="filters.thisMonth()">this month</a>
				</li>
				<li role="presentation">
					<a role="menuitem" data-ng-click="filters.lastMonth()">last month</a>
				</li>
				<li role="presentation">
					<a role="menuitem" data-ng-click="filters.lastMonths(3)">last 3 months</a>
				</li>
				<li class="divider"></li>
				<li role="presentation">
					<a role="menuitem" data-ng-click="filters.thisWeek()">this week</a>
				</li>
				<li role="presentation">
					<a role="menuitem" data-ng-click="filters.lastWeek()">last week</a>
				</li>
				<li class="divider"></li>
				<li role="presentation">
					<a role="menuitem" data-ng-click="filters.today()">today</a>
				</li>
				<li role="presentation">
					<a role="menuitem" data-ng-click="filters.yesterday()">yesterday</a>
				</li>
				<li role="presentation">
					<a role="menuitem" data-ng-click="filters.lastHours(24)">last 24 hours</a>
				</li>
				<li class="divider"></li>
				<li role="presentation">
					<a role="menuitem" data-ng-click="filters.select(0)">select {{interval.name}}s</a>
				</li>
				<li role="presentation">
					<a role="menuitem" data-ng-click="filters.select(-1)">select previous {{interval.name}}s</a>
				</li>
				<li role="presentation">
					<a role="menuitem" data-ng-click="filters.select(1)">select following {{interval.name}}s</a>
				</li>
			</ul>
			<a class="xbtn" title="Download" data-ui-download-csv><i class="fa fa-file-text"></i></a>
			<a class="xbtn" title="Snapshot" data-ng-click="snapshot()"><i class="fa fa-camera"></i></a>
		</div>
	</div>

	<div id="{{settings.id}}-chart" data-ui-chart-options="chartOptions" data-ui-id="{{settings.id}}" data-ui-snapshot data-ng-show="times.length || timesB.length"></div>

	<div data-ng-controller="EffectSizeWidgetController">
		<div id="{{settings.id}}-r-chart" data-ui-chart-options="rChartOptions" data-ui-id="{{settings.id}}" data-ng-show="statsB.count"></div>
	</div>

	<p data-ng-show="times == null" class="none">Loading...</p>

	<p data-ng-show="times.length + timesB.length == 0" class="none">None</p>

	<div class="btn-toolbar">
		<div class="btn-group"></div>
	</div>

	<div data-ui-modal="settings.id + '-dialog'" data-ng-controller="TimelineWidgetDialogController">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Timeline Widget</h4>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="label">Title</label>
					<div class="controls form-horizontal">
						<input name="label" type="text" required min="1" max="20" data-ng-model="settings.label"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="field">Values</label>
					<div class="controls form-horizontal">
						<select name="statistic" class="input-small" required data-ng-model="settings.statistic" data-ng-options="value for value in getStatistics(settings.field)"></select>
						of <select name="field" class="input-medium" data-ng-model="settings.field" data-ng-options="field.name as field.name for field in getFields()"></select>
						<span data-ng-show="getUnits().length"> in <select name="unit" class="input-small" data-ng-model="settings.unit" data-ng-options="unit for unit in getUnits()"></select></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="interval">Default Interval</label>
					<div class="controls form-horizontal">
						<select name="interval" data-ng-model="settings.interval" data-ng-options="interval.name as interval.name for interval in getIntervals()"></select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="regression">Regression</label>
					<div class="controls">
						<select name="regression" data-ng-model="settings.regression" data-ng-options="method for method in regressionMethods">
							<option value=""></option>
						</select>
						<p class="help-block">Optional method for drawing a regression line.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="filter">Filter</label>
					<div class="controls form-horizontal input-append">
						<input name="filter" type="text" data-ng-model="settings.filter" data-ui-check-filter="bucket" placeholder="e.g. tag:xyz"/>
						<span class="add-on">
							<i class="fa fa-exclamation" title="not valid" data-ng-show="form.filter.$invalid"></i>
							<i class="fa fa-check" title="valid" data-ng-hide="form.filter.$invalid"></i>
						</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="keyField">Timestamp</label>
					<div class="controls form-horizontal">
						<select name="keyField" class="input-small" data-ng-model="settings.key_field" data-ng-options="subfield.value as subfield.label for subfield in subfields"></select>
						<p class="help-block">How to handle events with multiple timestamps.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="pull-left" data-ng-click="removeWidget(settings)" data-dismiss="modal">Remove</a>
				<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!form.$valid || !valid()">Update</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
