<!doctype html>
<html lang="en">
	<head>
		<title>Zenobase Admin</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<meta name="mobile-web-app-capable" content="yes"/>
		<meta name="application-name" content="Zenobase"/>
		<style type="text/css">
			.table th, .table td {
				padding-left: 4px;
				padding-right: 4px;
			}
		</style>
		<link rel="apple-touch-icon" href="/img/icon.png"/>
	</head>

	<body id="app" data-ng-controller="ApplicationController">

		<header class="container-fluid">
			<a href="/#/"><img src="/img/logo.png" alt="Zenobase" width="159" height="25"/></a>
			<div class="pull-right ng-cloak">
				<p data-ng-show="user.name">
					<i class="fa fa-user"></i> <a data-ng-href="/#/users/{{user.getName()}}">{{user.getName()}}</a> | <a id="sign-out-link" data-ng-click="signOut()">Sign out</a>
				</p>
				<p data-ng-hide="user">
					<a id="sign-in-link" data-ng-click="openDialog('sign-in-dialog')">Sign in</a>
				</p>
			</div>
		</header>

		<div data-ng-view>
			<div class="container-fluid" style="margin-top: 14px">
				Loading...
			</div>
		</div>

		<footer class="container-fluid">
			&copy; 2012&ndash;<span data-ui-current-year></span> Zenobase LLC
		</footer>

		<script src="/js/jquery-2.1.4.min.js"></script>
		<script src="/js/moment-custom-2.13.0.min.js"></script>
		<script src="/js/bootstrap-custom-2.3.2.min.js"></script>
		<script src="/js/highcharts-custom-4.2.5.min.js"></script>
		<script src="/js/angular-custom-1.3.16.min.js"></script>
		<script type="module" src="/src/admin.js"></script>

	</body>

</html>
