
// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

// CSS Reset
@import "bootstrap/reset.less";

// Grid system and page structure
@import "bootstrap/scaffolding.less";
@import "bootstrap/grid.less";
@import "bootstrap/layouts.less";

// Base CSS
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/forms.less";
@import "bootstrap/tables.less";

// Components: common
// @import "bootstrap/sprites.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/wells.less";
// @import "bootstrap/component-animations.less";
@import "bootstrap/close.less";

// Components: Buttons & Alerts
@import "bootstrap/buttons.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/alerts.less";

// Components: Nav
@import "bootstrap/navs.less";
// @import "bootstrap/navbar.less";
// @import "bootstrap/breadcrumbs.less";
// @import "bootstrap/pagination.less";
// @import "bootstrap/pager.less";

// Components: Popovers
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
// @import "bootstrap/popovers.less";

// Components: Misc
@import "bootstrap/thumbnails.less";
@import "bootstrap/media.less";
@import "bootstrap/labels-badges.less";
@import "bootstrap/progress-bars.less";
// @import "bootstrap/accordion.less";
// @import "bootstrap/carousel.less";
@import "bootstrap/hero-unit.less";

// Utility classes
@import "bootstrap/utilities.less";

@import "font-awesome-4.3.0.less";

// Responsive
@-ms-viewport{
  width: device-width;
}
@import "bootstrap/responsive-utilities.less";
@import "bootstrap/responsive-1200px-min.less";
@import "bootstrap/responsive-768px-979px.less";
@import "bootstrap/responsive-767px-max.less";


@import "bootstrap/responsive-767px-max.less";
@import "bootstrap/responsive-768px-979px.less";
@import "bootstrap/responsive-1200px-min.less";
// @import "bootstrap/responsive-navbar.less";

// Extensions
@import "fileupload.less";
@import "datepicker.less";

@import "highlight-railscasts-8.4.less";

.btn-group > button.zeno-paging {
	background-color: white;
	border: none;
}

.modal-form {
	margin: 0;
}

.nowrap {
	white-space: nowrap;
}

abbr {
	text-transform: none;
}

/* Control style to match current Google Maps controls. */
.map-control {
	z-index: 0;
	cursor: pointer;
	text-decoration: none;
	font-family: Roboto,Arial,sans-serif;
	font-size: 18px;
	font-weight: 500;
	direction: ltr;
	overflow: hidden;
	text-align: center;
	position: relative;
	color: rgb(0, 0, 0);
	-webkit-user-select: none;
	background-color: rgb(255, 255, 255);
	margin-top: 10px;
	padding: 0px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 2px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

/* Fix for http://stackoverflow.com/a/7623351/1144085 */
.map img {
	max-width: none;
}

.none {
	font-style: italic;
	padding-bottom: 1em;
	padding-left: 1em;
}

header {
	margin-bottom: .5em;
	margin-top: 1.5em;
}

footer {
	color: #999;
	margin-top: 18px;
	padding-bottom: 18px;
}

.page-titlebar {
	margin-bottom: 9px;
}

.page-titlebar > .nav {
	clear: both;
}

.page-title {
	line-height: 27px
}

.page-title > .page-title-decoration {
	vertical-align: middle;
	margin-left: 4px;
}

.page-title .page-title-text {
	vertical-align: middle;
	font-size: 18px;
	font-weight: bold;
}

.footer-link {
	color: #999;
	font-weight: bold;
}

.close-tab {
	float: none;
	line-height: inherit;
}

.table > tbody > tr:hover, span.editable:hover {
	background-color: #f8f8f8;
}

span.editable {
  	display: block;
  	float: left;
	padding: 8px;
	margin: 2px;
	margin-left: 0;
	.border-radius(5px);
}

.action {
	visibility: hidden;
}

tr:hover > td > .action, span:hover > .action {
	visibility: visible;
}

.align-right {
	text-align: right;
}

.b {
	font-weight: bold;
}

.hero-unit {
	margin-top: 8px;
	margin-bottom: 0;
	padding-bottom: 24px;
}

.hero-unit > .social {
	font-size: x-large;
	text-align: right;
}

.hero-unit h1, .hero-unit .lead {
	color: rgb(255, 255, 255);
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.hero-unit .lead {
	margin-top: 20px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.control-group {
	margin-top: 9px;
}

.control-label {
	font-weight: bold;
}

.tab-content {
	overflow: hidden; /* prevents scrollbar in timeline widget */
}

#create-event-preview {
	padding-top: 1em;
}

#create-location-map {
  height: 200px
}

#create-location-map img {
  max-width: none;
}

.tooltip {
	padding: 4px; /* reduced from the default 5px to prevent a gap between the tooltip and the tooltip arrow */
}

.modal {
	z-index: 20; /* allows typeahead to show in modal dialog */
}

.modal-backdrop {
	z-index: 10; /* allows typeahead to show in modal dialog */
}

@media (max-width: 767px) {
	.hero-unit {
		padding: 24px;
	}
	.hero-unit > h1 { /* downsize to h2 */
		font-size: 24px;
		line-height: @baseLineHeight * 2;
	}
}

#api h2 {
	margin-top: 40px;
}

#api h3 {
	margin-top: 20px;
}

#api .well > h3 {
	margin-top: 0;
	line-height: normal;
}

#api pre {
	.hljs;
}

#api code {
	background-color: #232323;
	color: #e6e1dc;
	border: none;
}

a {
	cursor: pointer;
}

#pricing td {
	font-size: larger;
	vertical-align: middle;
}

/* bootstrap nav pills in gray */
.gray .active a,
.gray .active a:hover {
	background-color: gray;
}

.table.table-borderless td,
.table.table-borderless th {
	border-top: 0;
}

.bucket-virtual {
	font-style: italic;
}

.bucket-archived, .bucket-archived a:link, .bucket-archived a:visited {
	color: gray;
}

.credentials-invalid {
	text-decoration: line-through;
}

#add-widget-dialog div.thumbnail > p {
	padding: 5px 10px;
	height: 36px;
	overflow: hidden;
}

#add-widget-dialog div.thumbnail:hover {
	border-color: black;
}

#home-view div.thumbnail {
	/*border: 0;*/
	text-align: center;
}

#home-view div.thumbnail p {
	height: 36px;
	overflow: hidden;
}

.hero-unit {
	background-image: url(/img/home/tracks.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

#home-view .media-object {
	.border-radius(6px);
}

#home-view .media > .pull-left {
	margin-right: 20px;
}

#home-view .media > .pull-right {
	margin-left: 20px;
}

#home-examples {
	.clearfix();
	color: #333;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.nav-pills > .active-b > a,
.nav-pills > .active-b > a:active,
.nav-pills > .active-b > a:hover {
	background-color: #CC6600;
}

.fa {
	color: #333;
}

.fa-white {
	color: white;
}

.fa-gray {
	color: #999;
}

/* gray icons that show on hover */
.fa-hover {
	opacity: 0.0;
	filter: alpha(opacity=0);
	cursor: pointer;
}

a:hover > .fa-hover {
	opacity: 0.65;
	filter: alpha(opacity=65);
}

/* Don't clip dropdowns! */
.tab-content {
    overflow: visible;
}

#account-settings-dialog .progress {
	margin-bottom: 10px;
}

/* Drag & Drop */
.nav-tabs > .active > .drop, .nav-tabs .drop {
	background-color: #eee;
}

/* hover-only buttons */
.xbtn {
	.btn;
	background-image: none;
	background-color: transparent;
	border: 1px solid transparent;
	opacity: 0.65;
	filter: alpha(opacity=65);
}

.xbtn:hover {
	.btn;
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.xbtn[disabled], .xbtn[disabled]:hover {
	background-color: transparent;
	border: none;
}

.btn {
	outline: none !important;
}

.modal-append {
	border-top: 1px solid #eee;
}
