<div id="api" class="container-fluid">

<h1>API</h1>

<p class="lead">Zenobase has an open API that developers can use to create custom integrations with 3rd party data sources,
or access and update data on behalf of users. For a complete example that shows how to authenticate with and post data to Zenobase,
<a href="https://github.com/zenobase/zenobase-cardio">look at this Android app</a>,
or <a href="https://blog.zenobase.com/tags/api">find additional tips and examples on our blog</a>.</p>

<section id="api-auth">

<h3>Changelog</h3>

<p>Following is a list of recent changes. If you are using this API in an application,
please <a href="mailto:info@zenobase.com?subject=Zenobase+API">drop us a note</a>
so we can let you know about upcoming changes.</p>

<dl>
    <dt>April 15, 2026</dt>
    <dd>API access tokens are now JWTs that expire.<br/>
		Support for password and implicit grants has been removed.<br/>
		The <code>?code=</code> query-parameter is no longer supported; tokens must be supplied via the <em>Authorization</em> header.</dd>
    <dt>May 15, 2018</dt>
    <dd>Archived state for buckets.</dd>
	<dt>January 6, 2015</dt>
	<dd>Added a new field, "light", with the unit "lx" (lux).</dd>
	<dt>December 29, 2014</dt>
	<dd>Added new pressure units, "bar" and "mbar".</dd>
	<dt>December 11, 2014</dt>
	<dd>Added a new pressure unit, "kPa".</dd>
	<dt>November 21, 2014</dt>
	<dd>Added a new facet, "geobounds".<br/>
	    Support "*" constraint for all fields, to match non-null values.</dd>
	<dt>November 15, 2014</dt>
	<dd>Replaced "reverse" order param with "-" field prefix.</dd>
	<dt>November 12, 2014</dt>
	<dd>Added a "filter" option to the count and gantt facets.</dd>
	<dt>November 9, 2014</dt>
	<dd>Added an option for calculating the "sum" of a numeric field to the heatmap facet.</dd>
	<dt>November 4, 2014</dt>
	<dd>Added a new field, "pace".</dd>
	<dt>October 7, 2014</dt>
	<dd>Fixed ranges with partial timestamps: <code>(2010..*)</code> now excludes all of 2010, while <code>(*..2010]</code> includes all of 2010.</dd>
	<dt>October 6, 2014</dt>
	<dd>Added two computed fields, <code>timestamp$min</code> and <code>timestamp$max</code>, to better handle events with multiple timestamps.</dd>
	<dt>May 2, 2014</dt>
	<dd>Password grants now include an explicit expires_in.</dd>
	<dt>April 28, 2014</dt>
	<dd>Added a new frequency unit, "rpm".</dd>
	<dt>March 28, 2014</dt>
	<dd>Added a new facet, "heatmap".</dd>
	<dt>March 26, 2014</dt>
	<dd>Added fields for humidity, moon phase and percentages.</dd>
	<dt>December 25, 2013</dt>
	<dd>The scatterplot facet now uses timestamps' local times when no timezone is specified.</dd>
	<dt>December 16, 2013</dt>
	<dd>Timestamp constraints now support week numbers.</dd>
	<dt>December 10, 2013</dt>
	<dd>Added a new facet, "stats".</dd>
	<dt>November 11, 2013</dt>
	<dd>Changed the path for looking up user names to <code>/users/<em>&lt;user_id&gt;</em></code>.<br/>
		Changed the path for finding a user's buckets to <code>/users/<em>&lt;user_id&gt;</em>/buckets/</code></dd>
	<dt>October 23, 2013</dt>
	<dd>Timestamp constraints can now be based on the timestamp's local time.<br/>
		The timezone parameter for the timeline widget is now optional.</dd>
</dl>

&nbsp;

</section>

<div class="well">
	<h3>Overview</h3>
	<div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-list">
				<li class="nav-header"><a href="/#/api/auth">Authentication</a></li>
			</ul>
		</div>
		<div class="span3">
			<ul class="nav nav-list">
				<li class="nav-header"><a href="/#/api/buckets">Buckets</a></li>
				<li><a href="/#/api/list-buckets">List buckets</a></li>
				<li><a href="/#/api/get-bucket">Get a single bucket</a></li>
				<li><a href="/#/api/create-bucket">Create a bucket</a></li>
				<li><a href="/#/api/update-bucket">Update a bucket</a></li>
				<li><a href="/#/api/delete-bucket">Delete a bucket</a></li>
			</ul>
		</div>
		<div class="span3">
			<ul class="nav nav-list">
				<li class="nav-header"><a href="/#/api/events">Events</a></li>
				<li><a href="/#/api/list-events">List events</a></li>
				<li><a href="/#/api/get-event">Get a single event</a></li>
				<li><a href="/#/api/create-event">Create an event</a></li>
				<li><a href="/#/api/update-event">Update an event</a></li>
				<li><a href="/#/api/delete-event">Delete an event</a></li>
			</ul>
		</div>
		<div class="span3">
			<ul class="nav nav-list">
				<li class="nav-header"><a href="/#/api/common">Common</a></li>
				<li><a href="/#/api/quota">Quota check</a></li>
				<li><a href="/#/api/username">Look up a username</a></li>
				<li><a href="/#/api/constraints">Constraints</a></li>
				<li><a href="/#/api/facets">Facets</a></li>
				<li><a href="/#/api/errors">Errors</a></li>
			</ul>
		</div>
	</div>
</div>

<section id="api-auth">

<h2>Authentication</h2>

<p>Requests for protected resources must include an <a href="http://oauth.net/2/">OAuth 2</a> <em>Authorization</em> header:</p>

<pre>Authorization: Bearer <em>&lt;access_token&gt;</em></pre>

<p>Access tokens are JWTs issued through the Auth0 hosted login flow used by the Zenobase web app, and expire according to the Auth0 session policy. Sign in to the web app and copy your current token from the <a href="/#/settings">settings page</a>.</p>

</section>


<section id="api-buckets">

<h2>Buckets</h2>

<p class="lead">Buckets are containers for <a href="/#/api/events">events</a>,
but also include permissions and dashboard settings.</p>

<section id="api-list-buckets">

<h3>List buckets</h3>

<pre>GET /users/<em>&lt;user_id&gt;</em>/buckets/?offset=<em>&lt;offset&gt;</em>&amp;limit=<em>&lt;limit&gt;</em>&amp;include_archived=<em>&lt;include_archived&gt;</em>
Host: api.zenobase.com
Authorization: Bearer <em>&lt;access_token&gt;</em></pre>

<dl>
  <dt>user_id</dt><dd>The user whose buckets we want to retrieve.</dd>
  <dt>offset</dt><dd>How many buckets to skip. Defaults to 0.</dd>
  <dt>limit</dt><dd>The number of buckets to return, up to 100. Defaults to 10.</dd>
  <dt>include_archived</dt><dd>Whether to include archived buckets. Defaults to false.</dd>
</dl>

<h5>Example</h5>

<pre><code data-ui-highlight class="lang-bash">curl -i 'https://api.zenobase.com/users/args4iqh2c/buckets/?limit=10' \
  -H 'Authorization: Bearer e7975e8bb6eabc3ef567'</code></pre>

<pre>HTTP/1.1 200 OK
Content-Type: application/json
<code data-ui-highlight class="lang-json">{
  "total" : 1,
  "buckets" : [
    {
      "@id" : "jl2rg0o36e",
      "version" : 1,
      "label" : "My Data",
      "created" : "2012-10-18T20:59:36.295Z",
      "size" : 4,
      "roles" : [
        { "principal" : "args4iqh2c", "role" : "owner" }
      ]
    }
  ]
}</code></pre>

</section>

<section id="api-get-bucket">

<h3>Get a single bucket</h3>

<p>Get the metadata for a single bucket.</p>

<pre>GET /buckets/<em>&lt;bucket_id&gt;</em>
Authorization: Bearer <em>&lt;access_token&gt;</em></pre>

<dl>
  <dt>bucket_id</dt>
  <dd>The bucket we want to retrieve.</dd>
</dl>

<h5>Example</h5>

<pre><code data-ui-highlight class="lang-bash">curl -i GET 'https://api.zenobase.com/buckets/v7jg3l5ibc' \
  -H 'Authorization: Bearer e7975e8bb6eabc3ef567'</code></pre>

<pre>HTTP/1.1 200 OK
Content-Type: application/json
<code data-ui-highlight class="lang-json">{
  "@id" : "v7jg3l5ibc",
  "created" : "2012-10-24T23:01:44.438Z",
  "label" : "Test Bucket",
  "description" : "This bucket is for testing.",
  "roles": [
    { "principal" : "args4iqh2c" , "role" : "owner" }
  ],
  "version" : 1,
  "widgets" : [ ... ]
}</code></pre>

</section>

<section id="api-create-bucket">

<h3>Create a bucket</h3>

<pre>POST /buckets/
Content-Type: application/json
Host: api.zenobase.com
Authorization: Bearer <em>&lt;access_token&gt;</em>
<code data-ui-highlight class="lang-json">{
  "label" : <em>&lt;label&gt;</em>,
  "description" : <em>&lt;description&gt;</em>,
  "archived" : <em>&lt;archived&gt;</em>,
  "aliases" : [
    { "@id" : <em>&lt;bucket_id&gt;</em> },
    { "@id" : <em>&lt;bucket_id&gt;</em> },
    ...
}</code></pre>

<dl>
  <dt>label</dt>
  <dd>A human-readable name for the bucket. Required, 1-20 characters from <code>a-zA-Z0-9-_ </code>.</dd>
  <dt>description</dt>
  <dd>One or two sentences describing this bucket. Optional.</dd>
  <dt>archived</dt>
  <dd>Whether this bucket is archived; archived buckets are not listed by default. Optional.</dd>
  <dt>aliases</dt>
  <dd>Optional list of existing buckets; creates a virtual bucket that serves as a read-only view.</dd>
</dl>

<h5>Example:</h5>

<pre><code data-ui-highlight class="lang-bash">curl -i -X POST 'https://api.zenobase.com/buckets/' \
  -H 'Content-Type: application/json' \
  -H 'Authorization: Bearer e7975e8bb6eabc3ef567 \
  -d '{
    "label" : "Test Bucket",
    "description" : "This bucket is for testing."
  }'</code></pre>

<pre>HTTP/1.1 201 Created
Content-Type: application/json
Location: /buckets/v7jg3l5ibc
X-Command-ID: 4o6iqmpnrr
<code data-ui-highlight class="lang-json">{
  "@id" : "v7jg3l5ibc",
  "created" : "2012-10-24T23:01:44.438Z",
  "label" : "Test Bucket",
  "description" : "This bucket is for testing.",
  "roles": [
    { "principal" : "args4iqh2c" , "role" : "owner" }
  ],
  "version" : 1
}</code></pre>

<h5>Example:</h5>

<pre><code data-ui-highlight class="lang-bash">curl -i -X POST 'https://api.zenobase.com/buckets/' \
  -H 'Content-Type: application/json' \
  -H 'Authorization: Bearer e7975e8bb6eabc3ef567 \
  -d '{
    "label" : "My Data",
    "description" : "This is all my data.",
    "aliases" : [
      { "@id" : "v7jg3l5ibc" },
      { "@id" : "17tfv4rmvn" }
    ]
  }'</code></pre>

<pre>HTTP/1.1 201 Created
Content-Type: application/json
Location: /buckets/v7jg3l5ibc
X-Command-ID: 4o6iqmpnrr
<code data-ui-highlight class="lang-json">{
  "@id" : "v7jg3l5ibc",
  "created" : "2012-10-24T23:11:43.112Z",
  "label" : "My Data",
  "description" : "This is all my data.",
  "aliases" : [
    { "@id" : "v7jg3l5ibc" },
    { "@id" : "17tfv4rmvn" }
  ],
  "roles": [
    { "principal" : "dch4v3salm" , "role" : "owner" }
  ],
  "version" : 1
}</code></pre>

</section>

<section id="api-update-bucket">

<h3>Update a bucket</h3>

<p>Update a bucket's metadata, i.e. its label, description, roles and widgets.</p>

<pre>PUT /buckets/<em>&lt;bucket_id&gt;</em>
Content-Type: application/json
Host: api.zenobase.com
Authorization: Bearer <em>&lt;access_token&gt;</em>
<code data-ui-highlight class="lang-json">{
  "label" : <em>&lt;label&gt;</em>,
  "description" : <em>&lt;description&gt;</em>,
  "archived" : <em>&lt;archived&gt;</em>,
  "roles" : [
    {
      "principal" : <em>&lt;user_id&gt;</em>,
      "role" : <em>&lt;'owner'|'viewer'&gt;</em>
    },
    ...
  ],
  "widgets" : [
    ...
  ]
}</code></pre>

<dl>
  <dt>bucket_id</dt>
  <dd>The bucket to update.</dd>
</dl>

<h5>Example:</h5>

<pre><code data-ui-highlight class="lang-bash">curl -i -X PUT 'https://api.zenobase.com/buckets/v7jg3l5ibc' \
  -H 'Content-Type: application/json' \
  -H 'Authorization: Bearer e7975e8bb6eabc3ef567 \
  -d '{
    "label" : "Updated Bucket",
    "description" : "This bucket is archived, but still public!",
    "archived" : true,
    "roles" : [
      { "principal" : "args4iqh2c", "role" : "owner" },
      { "principal" : "*", "role" : "viewer" }
    ]
  }'</code></pre>

<pre>HTTP/1.1 204 No Content
Content-Type: application/json
X-Command-ID: 4o6iqmpnrr</pre>

</section>

<section id="api-delete-bucket">

<h3>Delete a bucket</h3>

<p>Delete a bucket including all its events.</p>

<pre>DELETE /buckets/<em>&lt;bucket_id&gt;</em>
Host: api.zenobase.com
Authorization: Bearer <em>&lt;access_token&gt;</em></pre>

<dl>
  <dt>bucket_id</dt>
  <dd>The bucket to delete; must not be aliased from a virtual bucket.</dd>
</dl>

<h5>Example:</h5>

<pre><code data-ui-highlight class="lang-bash">curl -i -X DELETE 'https://api.zenobase.com/buckets/v7jg3l5ibc' \
  -H 'Authorization: Bearer e7975e8bb6eabc3ef567'</code></pre>

<pre>HTTP/1.1 204 No Content
X-Command-ID: p3atfetvs2</pre>

</section>

</section>


<section id="api-events">

<h2>Events</h2>

<p class="lead">Events contain the actual data being tracked.</p>

<section id="api-list-events">

<h3>List events</h3>

<pre>GET /buckets/<em>&lt;bucket_id&gt;</em><strong>/</strong>?offset=<em>&lt;offset&gt;</em>&amp;limit=<em>&lt;limit&gt;</em>&amp;order=<em>&lt;order&gt;</em>&amp;facet=<em>&lt;facet_expression&gt;</em>&amp;q=<em>&lt;constraint_expression&gt;</em>
Host: api.zenobase.com
Authorization: Bearer <em>&lt;access_token&gt;</em></pre>

<dl>
  <dt>bucket_id</dt>
  <dd>The bucket from which to retrieve events.</dd>
  <dt>offset</dt>
  <dd>The offset of the first event. Defaults to <em>0</em>.</dd>
  <dt>limit</dt>
  <dd>How many events to return. If no limit and no facets are specified, a list of all matching events is returned.</dd>
  <dt>order</dt>
  <dd>The field to sort on, descending if prefixed with '-'. Defaults to <em>-timestamp</em>.</dd>
  <dt>facet_expression</dt>
  <dd>See <a href="/#/api/facets">facets</a>.
  More than one facet parameter can be given.</dd>
  <dt>constraint_expression</dt>
  <dd>See <a href="/#/api/constraints">constraints</a>. Optional.
  If more than one constraint parameter is present, all constraints must be fulfilled.</dd>
</dl>

<h5>Example:</h5>

<pre><code data-ui-highlight class="lang-bash">curl -i 'https://api.zenobase.com/buckets/v7jg3l5ibc/?offset=0&amp;limit=10&amp;facet=id:tags,type:count&amp;q=tag:lunch' \
  -H 'Authorization: Bearer e7975e8bb6eabc3ef567'</code></pre>

<pre>HTTP/1.1 200 OK
Content-Type: application/json
<code data-ui-highlight class="lang-json">{
  "total" : 42,
  "events": [
    {
      "timestamp" : "2012-10-24T13:10:00.000-07:00",
      "tag" : [ "lunch", "thai" ],
      "author" : "7ghkds6jar",
      ...
    },
    ...
  ],
  "tags": [
    { "label" : "lunch", "count" : 10 },
    { "label" : "thai", "count" : 1 },
    ...
  ]
}</code></pre>

</section>

<section id="api-get-event">

<h3>Get a single event</h3>

<pre>GET /buckets/<em>&lt;bucket_id&gt;</em>/<em>&lt;event_id&gt;</em>
Host: api.zenobase.com
Authorization: Bearer <em>&lt;access_token&gt;</em></pre>

<dl>
  <dt>bucket_id</dt>
  <dd>The bucket from which to get the event from.</dd>
  <dt>event_id</dt>
  <dd>The event to get.</dd>
</dl>

<h5>Example:</h5>

<pre><code data-ui-highlight class="lang-bash">curl -i 'https://api.zenobase.com/buckets/v7jg3l5ibc/chd6fmchgs' \
  -H 'Authorization: Bearer e7975e8bb6eabc3ef567'</code></pre>

<pre>HTTP/1.1 200 OK
Content-Type:application/json
<code data-ui-highlight class="lang-json">{
  "timestamp" : "2012-10-24T13:10:00.000-07:00",
  "tag" : [ "lunch", "thai" ],
  "rating" : 80,
  "resource" : {
    "title" : "Tup Tim Thai",
    "url" : "https://plus.google.com/116718770873870194999"
  },
  "author" : "7ghkds6jar"
}</code></pre>

</section>

<section id="api-create-event">

<h3>Create an event</h3>

<pre>POST /buckets/<em>&lt;bucket_id&gt;</em><strong>/</strong>
Content-Type: application/json
Host: api.zenobase.com
Authorization: Bearer <em>&lt;access_token&gt;</em>
<code data-ui-highlight class="lang-json">{
  <em>&lt;field&gt;</em> : <em>&lt;value&gt;</em>,
  <em>&lt;field&gt;</em> : [ <em>&lt;1st value&gt;</em>, <em>&lt;2nd value&gt;</em>, ... ],
  ...
  "bits" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : <em>&lt;"bit" | "B" | "KB" | "MB" | "GB" | "TB" | "PB" | "KiB" | "MiB" | "GiB" | "TiB" | "PiB"&gt;</em>
  },
  "concentration" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : <em>&lt;"g/L" | "mg/L" | "ug/L" | "ng/L" | "g/dL" | "mg/dL" | "ug/dL" | "ng/dL"&gt;</em>
  },
  "count" : <em>&lt;Integer&gt;</em>,
  "distance" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : <em>&lt;"mi" | "yd" | "ft" | "in" | "km" | "m" | "cm" | "mm"&gt;</em>
  },
  "duration" : <em>&lt;Milliseconds&gt;</em>,
  "energy" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : <em>&lt;"cal" | "kcal" | "L" | "kJ"&gt;</em>
  },
  "frequency" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : <em>&lt;"bpm" | "rpm" | "Hz"&gt;</em>
  },
  "height" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : <em>&lt;"mi" | "ft" | "in" | "km" | "m" | "cm" | "mm"&gt;</em>
  },
  "humidity" : <em>&lt;(0..100)&gt;</em>,
  "light" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : <em>&lt;"lx"&gt;</em>
  },
  "location" : {
    "lat" : <em>&lt;Number&gt;</em>,
    "lon" : <em>&lt;Number&gt;</em>
  },
  "note" : <em>&lt;String&gt;</em>,
  "moon" : <em>&lt;(0..100)&gt;</em>,
  "pace" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : <em>&lt;"s/km" | "s/mi"&gt;</em>
  },
  "percentage" : <em>&lt;(0..100)&gt;</em>,
  "pressure" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : <em>&lt;"Pa" | "hPa" | "kPa" | "mbar" | "bar" | "mmHg" | "inHg" | "psi"&gt;</em>
  },
  "rating" : <em>&lt;(0..100)&gt;</em>,
  "resource" : {
    "title" : <em>&lt;String&gt;</em>,
    "url" : <em>&lt;URL&gt;</em>
  },
  "sound" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : "dB"
  },
  "source" : {
    "title" : <em>&lt;String&gt;</em>,
    "url" : <em>&lt;URL&gt;</em>
  },
  "tag" : <em>&lt;String&gt;</em>,
  "temperature" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : <em>&lt;"C" | "F" | "K"&gt;</em>
  },
  "timestamp" : <em>&lt;yyyy-MM-dd'T'hh:mm:ss.SSSZ&gt;</em>,
  "velocity" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : <em>&lt;"m/s" | "mph" | "kmh" | "kn" | "Mach"&gt;</em>
  },
  "volume" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : <em>&lt;"L" | "dL" | "cL" | "mL" | "gal" | "qt" | "pt" | "cup" | "fl_oz"&gt;</em>
  },
  "weight" : {
    "@value" : <em>&lt;Number&gt;</em>,
    "unit" : <em>&lt;"lb" | "oz" | "kg" | "g" | "mg"&gt;</em>
  }
}</code></pre>

<dl>
  <dt>bucket_id</dt>
  <dd>The bucket to add the event to.</dd>
</dl>

<p>All fields are optional (and can be repeated any number of times).
But if no <code>timestamp</code> is specified, a <code>timestamp</code>
with the current time and a +00:00 time zone offset is added, and the
<code>author</code> is always set to the current user.</p>

<h5>Example:</h5>

<pre><code data-ui-highlight class="lang-bash">curl -i -X POST 'https://api.zenobase.com/buckets/v7jg3l5ibc/' \
  -H 'Content-Type: application/json' \
  -H 'Authorization: Bearer e7975e8bb6eabc3ef567' \
  -d '{
    "timestamp" : "2012-10-24T13:10:00.000-07:00",
    "tag" : [ "lunch", "thai" ],
    "rating" : 80,
    "resource" : {
      "title" : "Tup Tim Thai",
      "url" : "https://plus.google.com/116718770873870194999"
    }
  }'</code></pre>

<pre>HTTP/1.1 201 Created
Content-Type:application/json
Location: /buckets/v7jg3l5ibc/chd6fmchgs
X-Command-ID: p3ateetvs1
<code data-ui-highlight class="lang-json">{
  "timestamp" : "2012-10-24T13:10:00.000-07:00",
  "tag" : [ "lunch", "thai" ],
  "rating" : 80,
  "resource" : {
    "title" : "Tup Tim Thai",
    "url" : "https://plus.google.com/116718770873870194999"
  },
  "author" : "7ghkds6jar"
}</code></pre>

</section>

<section id="api-update-event">

<h3>Update an event</h3>

<pre>PUT /buckets/<em>&lt;bucket_id&gt;</em>/<em>&lt;event_id&gt;</em>
Content-Type: application/json
Host: api.zenobase.com
Authorization: Bearer <em>&lt;access_token&gt;</em>
<code data-ui-highlight class="lang-json">{
  <em>&lt;field&gt;</em> : <em>&lt;value&gt;</em>,
  ...
}</code></pre>

<dl>
  <dt>bucket_id</dt>
  <dd>The bucket containing the event to update.</dd>
  <dt>event_id</dt>
  <dd>The event to update.</dd>
</dl>

<h5>Example:</h5>

<pre><code data-ui-highlight class="lang-bash">curl -i -X PUT 'https://api.zenobase.com/buckets/v7jg3l5ibc/chd6fmchgs' \
  -H 'Content-Type: application/json' \
  -H 'Authorization: Bearer e7975e8bb6eabc3ef567' \
  -d '{
    "timestamp" : "2012-10-24T13:10:00.000-07:00",
    "tag" : [ "lunch", "thai" ],
    "rating" : 80,
    "resource" : {
      "title" : "Tup Tim Thai",
      "url" : "https://plus.google.com/116718770873870194999"
    }
  }'</code></pre>

<pre>HTTP/1.1 204 No Content
X-Command-ID: p3ateetvs1</pre>

</section>

<section id="api-delete-event">

<h3>Delete an event</h3>

<pre>DELETE /buckets/<em>&lt;bucket_id&gt;</em>/<em>&lt;event_id&gt;</em>
Host: api.zenobase.com
Authorization: Bearer <em>&lt;access_token&gt;</em></pre>

<dl>
  <dt>bucket_id</dt>
  <dd>The bucket that contains the event to delete.</dd>
  <dt>event_id</dt>
  <dd>The event to delete.</dd>
</dl>

<h5>Example:</h5>

<pre><code data-ui-highlight class="lang-bash">curl -i -X DELETE 'https://api.zenobase.com/buckets/v7jg3l5ibc/chd6fmchgs' \
  -H 'Authorization: Bearer e7975e8bb6eabc3ef567'</code></pre>

<pre>HTTP/1.1 204 No Content
X-Command-ID: p3ateetvs1</pre>

</section>

</section>


<section>

<h2 id="api-common">Common</h2>

<section id="api-quota">

<h3>Quota check</h3>

<p>Check how many events can be added by (or on behalf of) a user each month.</p>

<pre>GET /quota
Authorization: Bearer <em>&lt;access_token&gt;</em></pre>

<h5>Example:</h5>

<pre><code data-ui-highlight class="lang-bash">curl -i GET 'https://api.zenobase.com/quota \
  -H 'Authorization: Bearer e7975e8bb6eabc3ef567'</code></pre>

<pre>HTTP/1.1 200 OK
Content-Type: application/json
<code data-ui-highlight class="lang-json">{
  "limit" : 1000,
  "remaining" : 995
}</code></pre>

</section>

<section id="api-username">

<h3>Look up a username</h3>

<pre>GET /users/<em>&lt;user_id&gt;</em>
Authorization: Bearer <em>&lt;access_token&gt;</em></pre>

<dl>
<dt>user_id</dt>
<dd>The user ID to look up.</dd>
</dl>

<h5>Example:</h5>

<pre><code data-ui-highlight class="lang-bash">curl -i GET 'https://api.zenobase.com/users/kbuk9h0ihh' \
  -H 'Authorization: Bearer e7975e8bb6eabc3ef567'</code></pre>

<pre>HTTP/1.1 200 OK
Content-Type: application/json
<code data-ui-highlight class="lang-json">{
  "@id" : "kbuk9h0ihh",
  "name" : "zeno"
}</code></pre>

</section>

<section id="api-constraints">

<h3>Constraints</h3>

<p>Constraints can be used to restrict lists of events.</p>

<pre>[<em>&lt;operator&gt;</em>]<em>&lt;field&gt;</em>:<em>&lt;expression&gt;</em></pre>

<dl>
<dt>operator</dt>
<dd>Prefix with <code>-</code> to negate the constraint.</dd>
<dt>field</dt>
<dd>The field name.</dd>
<dt>expression</dt>
<dd>Type-specific expression, or <code>*</code> to match any non-null value.</dd>
</dl>

<h4>Expressions</h4>

<dl>
<dt>tokens</dt>
<dd>
  <blockquote>
  <dl>
  <dt><code>foo</code></dt>
  <dd>exact match</dd>
  <dt><code>foo*</code></dt>
  <dd>prefix match</dd>
  </dl>
  </blockquote>
</dd>
<dt>text</dt>
<dd>
  <blockquote>
  <dl>
  <dt><code>foo</code></dt>
  <dd>exact match on a word</dd>
  <dt><code>foo*</code></dt>
  <dd>prefix match on a word</dd>
  </dl>
  </blockquote>
</dd>
<dt>timestamps</dt>
<dd>
  <blockquote>
  <dl>
  <dt><code>2013TZ</code>, <code>[2013TZ..2014TZ)</code>, <code>[2012-12-31T16-08:00..2013-12-31T16-08:00)</code></dt>
  <dd>all of 2013</dd>
  <dt><code>2013-01TZ</code>, <code>[2013-01TZ..2013-02TZ)</code>, <code>[2012-12-31T16-08:00..2013-01-31T16-08:00)</code></dt>
  <dd>January</dd>
  <dt><code>2013-W01TZ</code>, <code>[2013-W01TZ..2013-W02TZ)</code>, <code>[2012-12-30TZ..2013-01-07TZ)</code></dt>
  <dd>1st week of January</dd>
  <dt><code>2013-01-02TZ</code>, <code>[2013-01-02TZ..2013-01-03TZ)</code>, <code>[2013-01-01T16-08:00..2013-01-02T16-08:00)</code></dt>
  <dd>January 2nd</dd>
  <dt><code>2013-01-02T20Z</code>, <code>[2013-01-02T20Z..2013-01-02T21Z)</code>, <code>[2013-01-02T12-08:00..2013-01-02T13-08:00)</code></dt>
  <dd>8-9pm</dd>
  <dt><code>2013-01-02T20:05Z</code>, <code>[2013-01-02T20:05Z..2013-01-02T20:06Z)</code>, <code>[2013-01-02T12:05-08:00..2013-01-02T12:06-08:00)</code></dt>
  <dd>8:05-8:06pm</dd>
  <dt><code>2013-01-30T23:00:00.000TZ</code>, <code>2013-01-30T15:00:00.000-08:00</code>, <code>1359586800000</code></dt>
  <dd>an exact moment</dd>
  </dl>
  </blockquote>
  <em>based on the timestamp's local time</em>
  <blockquote>
  <dl>
  <dt><code>2013</code>, <code>[2013..2014)</code></dt>
  <dd>all of 2013</dd>
  <dt><code>2013-01</code>, <code>[2013-01..2013-02)</code></dt>
  <dd>January</dd>
  <dt><code>2013-W01</code>, <code>[2013-W01..2013-W02)</code>, <code>[2012-12-30..2013-01-07)</code></dt>
  <dd>1st week of January</dd>
  <dt><code>2013-01-02</code>, <code>[2013-01-02..2013-01-03)</code></dt>
  <dd>January 2nd</dd>
  <dt><code>2013-01-02T20</code>, <code>[2013-01-02T20..2013-01-02T21)</code></dt>
  <dd>8-9pm</dd>
  <dt><code>2013-01-02T20:05</code>, <code>[2013-01-02T20:05..2013-01-02T20:06)</code></dt>
  <dd>8:05-8:06pm</dd>
  <dt><code>2013-01-30T15:00:00.000</code></dt>
  <dd>an exact moment</dd>
  </dl>
  </blockquote>
  <blockquote>
  <dl>
  <dt><code><i>&lt;field&gt;</i>.month_of_year:1</code></dt>
  <dd>any January</dd>
  <dt><code><i>&lt;field&gt;</i>.day_of_year:1</code></dt>
  <dd>any 1st day of the year</dd>
  <dt><code><i>&lt;field&gt;</i>.day_of_month:1</code></dt>
  <dd>any 1st day of the month</dd>
  <dt><code><i>&lt;field&gt;</i>.day_of_week:1</code></dt>
  <dd>any Monday</dd>
  <dt><code><i>&lt;field&gt;</i>.day_of_week:[6..7]</code></dt>
  <dd>any weekend</dd>
  <dt><code><i>&lt;field&gt;</i>.hour_of_day:10</code></dt>
  <dd>10-11am any day</dd>
  <dt><code><i>&lt;field&gt;</i>.hour_of_day:(*..12)</code></dt>
  <dd>first half of any day</dd>
  </dl>
  </blockquote>
  <em>relative</em>
  <blockquote>
  <dl>
  <dt><code>[-1y..*)</code></dt>
  <dd>since one year ago</dd>
  <dt><code>(*..-1M]</code></dt>
  <dd>up to one month ago</dd>
  <dt><code>[-1y..-1M]</code></dt>
  <dd>since one year ago and up to one month ago</dd>
  </dl>
  </blockquote>
</dd>
<dt>locations</dt>
<dd>
  <blockquote>
  <dl>
  <dt><code>25.787,-122.333,47.610,-80.224</code></dt>
  <dd>points in the area between Seattle and Miami</dd>
  <dt><code>36.08,-115.17~100 mi</code></dt>
  <dd>point within 100 miles of Las Vegas</dd>
  </dl>
  </blockquote>
</dd>
<dt>numbers</dt>
<dd>
  <blockquote>
  <dl>
  <dt><code>80</code></dt>
  <dd>exact match</dd>
  <dt><code>(80..100]</code></dt>
  <dd>larger than 80, but not larger than 100</dd>
  </dl>
  </blockquote>
</dd>
<dt>measures</dt>
<dd>
  <blockquote>
  <dl>
  <dt><code>10 lb</code></dt>
  <dd>10 lb, or 4.54 kg (or equivalent)</dd>
  <dt><code>[10 lb..20 lb]</code></dt>
  <dd>not less than 10, and not more than 20 lb (or equivalent)</dd>
  </dl>
  </blockquote>
</dd>
<dt>durations</dt>
<dd>
  <blockquote>
  <dl>
  <dt><code>1h 30min</code></dt>
  <dd>1 hour and 30 minutes, or 90 minutes</dd>
  <dt><code>[1h..1d]</code></dt>
  <dd>not less than 1 hour, and not more than 1 day</dd>
  </dl>
  </blockquote>
</dd>
</dl>

<h4>Ranges</h4>

<p>The begin or end of a range expressions can be open, inclusive or exclusive:</p>

<dl>
<dt>[<em>a</em>..<em>b</em>]</dt>
<dd>values not smaller than <em>a</em> and not larger than <em>b</em></dd>
<dt>[<em>a</em>..<em>b</em>)</dt>
<dd>values not smaller than <em>a</em> but smaller than <em>b</em></dd>
<dt>(<em>a</em>..<em>b</em>]</dt>
<dd>values larger than <em>a</em> but not larger than <em>b</em></dd>
<dt>(<em>a</em>..<em>b</em>)</dt>
<dd>values larger than <em>a</em> and smaller than <em>b</em></dd>
<dt>[<em>a</em>..<em>*</em>)</dt>
<dd>values not smaller than <em>a</em></dd>
<dt>(<em>*</em>..<em>b</em>]</dt>
<dd>values not larger than <em>b</em></dd>
</dl>

<h4>Pseudo-Fields</h4>

<dl>
<dt>_timestamp</dt>
<dd>The last modification time of an item. For example, <code>_timestamp:[2013TZ..*)</code> matches items that have been modified since the beginning of 2013.</dd>
<dt><em>&lt;field&gt;</em>$min</dt>
<dd>The lowest value in a field with multiple values. Currently only supported for timestamp fields.</dd>
<dt><em>&lt;field&gt;</em>$max</dt>
<dd>The highest value in a field with multiple values. Currently only supported for timestamp fields.</dd>
</dl>

</section>

<section id="api-facets">

<h3>Facets</h3>

<p>Facets can be used to specify what data to return e.g. <a href="/#/api/list-events">when listing events</a>.</p>

<pre>id:<em>&lt;id&gt;</em>,type:<em>&lt;type&gt;</em>,<em>&lt;param:value&gt;</em>,...</pre>

<dl>
<dt>id</dt>
<dd>A short string, used to identify the facet's data in the result.</dd>
<dt>type</dt>
<dd>The facet type, see below.</dd>
<dt>param:value</dt>
<dd>Type-specific parameters for the facet, see below.</dd>
</dl>

&nbsp;

<h4>Count Facet</h4>

<dl>
  <dt>field:<em>&lt;'tag'|'author'&gt;</em></dt>
  <dd>The field to aggregate on. Required.</dd>
  <dt>offset:<em>&lt;integer&gt;</em></dt>
  <dd>The offset of the first result. Defaults to <em>0</em>.</dd>
  <dt>limit:<em>&lt;integer&gt;</em></dt>
  <dd>How many results to return. Defaults to <em>10</em>.</dd>
  <dt>order:<em>&lt;'-'&gt;&lt;'term'|'count'&gt;</em></dt>
  <dd>Order results by term or by count, descending if prefixed with '-'. Defaults to <em>-count</em>.</dd>
  <dt>filter:<em>&lt;constraint&gt;</em></dt>
  <dd>Optional <a href="/#/api/constraints">constraint</a>.</dd>
</dl>

<h5>Example:</h5>

<pre>id:xyz,type:count,field:tag,order:term</pre>

<pre><code data-ui-highlight class="lang-json">"xyz" : [
  { "label" : "breakfast", "count" : 19 }
  { "label" : "dinner", "count" : 31 },
  { "label" : "lunch", "count" : 22 },
]</code></pre>

&nbsp;

<h4>Timeline Facet</h4>

<dl>
  <dt>field:<em>&lt;String&gt;</em></dt>
  <dd>The field containing the values. Required.</dd>
  <dt>unit:<em>&lt;String&gt;</em></dt>
  <dd>The unit of the value. Required for fields with units.</dd>
  <dt>interval:<em>&lt;'year'|'month'|'day'|'hour'|'minute'&gt;</em></dt>
  <dd>The interval at which values are aggregated. Defaults to <em>month</em>.</dd>
  <dt>timezone:<em>&lt;Z&gt;</em></dt>
  <dd>Optional timezone offset, e.g.<em>+00:00</em>. If not set, values are aggregated using their local time.</dd>
  <dt>filter:<em>&lt;constraint&gt;</em></dt>
  <dd>Optional <a href="/#/api/constraints">constraint</a>.</dd>
  <dt>key_field:<em>&lt;'timestamp'|'timestamp$min'|'timestamp$max'&gt;</em></dt>
  <dd>How to handle events with multiple timestamps. Defaults to <em>timestamp</em>, i.e. aggregate on each timestamp, rather than on the highest or lowest timestamp.</dd>
</dl>

<h5>Example:</h5>

<pre>id:xyz,type:timeline,field:count,filter:tag:steps</pre>

<pre><code data-ui-highlight class="lang-json">"xyz" : [
  { "label" : "2013-01", "count" : 31, "avg" : 9832, "min" : 2559, "max" : 24600, "sum" : 304792 },
  { "label" : "2013-02", "count" : 28, "avg" : 12225.93, "min" : 4258, "max" : 19817, "sum" : 342326 },
  { "label" : "2013-03", "count" : 31, "avg" : 24134, "min" : 4512, "max" : 24134, "sum" : 317220 },
  ...
]</code></pre>

&nbsp;

<h4>Stats Facet</h4>

<dl>
  <dt>field:<em>&lt;String&gt;</em></dt>
  <dd>The field containing the values. Required.</dd>
  <dt>unit:<em>&lt;String&gt;</em></dt>
  <dd>The unit of the value. Required for fields with units.</dd>
  <dt>filter:<em>&lt;constraint&gt;</em></dt>
  <dd>Optional <a href="/#/api/constraints">constraint</a>.</dd>
</dl>

<h5>Example:</h5>

<pre>id:xyz,type:stats,field:distance,unit:m</pre>

<pre><code data-ui-highlight class="lang-json">"xyz" : {
  "count" : 31,
  "min" : {
    "@value" : 2559,
    "unit" : "m"
  },
  "max" : {
    "@value" : 24600,
    "unit" : "m"
  },
  "sum" : {
    "@value" : 304792,
    "unit" : "m"
  },
  "avg" : {
    "@value" : 9832,
    "unit" : "m"
  },
  "stdev" : {
    "@value" : 2443,
    "unit" : "m"
  }
}</code></pre>

&nbsp;

<h4>Map Facet</h4>

<dl>
  <dt>factor:<em>&lt;Number&gt;</em></dt>
  <dd>Controls the clustering, from 0.0 (show each point) to 1.0 (one big cluster). Defaults to <em>0.2</em>.</dd>
</dl>

<h5>Example:</h5>

<pre>id:xyz,type:map,factor:0.4</pre>

<pre><code data-ui-highlight class="lang-json">"xyz" : [
  { "count" : 1, "lat" : -2.8, "lon" : -40.48 },
  { "count" : 14, "lat" : 14.895, "lat_max" : 16.512, "lat_min" : -3.784, "lon" : -61.823, "lon_max" : -61.048, "lon_min" : -64.950 },
  ...
]</code></pre>

&nbsp;

<h4>Heatmap Facet</h4>

<dl>
  <dt>precision:<em>&lt;integer&gt;</em></dt>
  <dd>Determines the grid size, from 1 (~5,000km) to 10 (~1m). Defaults to <em>8</em> (~30m).</dd>
  <dt>value_field:<em>&lt;String&gt;</em></dt>
  <dd>An optional, numeric field containing values to sum up.</dd>
  <dt>unit:<em>&lt;String&gt;</em></dt>
  <dd>The unit of the values. Required for fields with units.</dd>
  <dt>filter:<em>&lt;constraint&gt;</em></dt>
  <dd>Optional <a href="/#/api/constraints">constraint</a>.</dd>
</dl>

<h5>Example:</h5>

<pre>id:xyz,type:heatmap,precision:4,field:duration</pre>

<pre><code data-ui-highlight class="lang-json">"xyz" : [
  { "lat" : -2.8, "lon" : -40.48, "count" : 1, "sum" : 60000 },
  { "lat" : 14.895, "lon" : -61.823, "count" : 3, "sum" : 180000 },
  ...
]</code></pre>

&nbsp;

<h4>Geo Bounds Facet</h4>

<dl>
  <dt>filter:<em>&lt;constraint&gt;</em></dt>
  <dd>Optional <a href="/#/api/constraints">constraint</a>.</dd>
</dl>

<h5>Example:</h5>

<pre>id:xyz,type:geobounds</pre>

<pre><code data-ui-highlight class="lang-json">"xyz" : [
  { "lat_min" : -2.8, "lat_max" : 14.895, "lon_min" : -40.48, "lon_max" : -61.823 },
  ...
]</code></pre>

&nbsp;

<h4>Ratings Facet</h4>

<dl>
  <dt>scale:<em>&lt;Integer&gt;</em></dt>
  <dd>The number of groups to sort the ratings into. Defaults to <em>5</em> (i.e. 0 to 5 stars).</dd>
  <dt>filter:<em>&lt;constraint&gt;</em></dt>
  <dd>Optional <a href="/#/api/constraints">constraint</a>.</dd>
</dl>

<h5>Example:</h5>

<pre>id:xyz,type:ratings</pre>

<pre><code data-ui-highlight class="lang-json">"xyz" : [
  { "from" : 90, "count" : 1 },
  { "from" : 70, "to" : 90, "count" : 5 },
  { "from" : 50, "to" : 70, "count" : 17 },
  { "from" : 30, "to" : 50, "count" : 11 },
  { "from" : 10, "to" : 30, "count" : 6 },
  { "to" : 10, "count" : 4 },
]</code></pre>

&nbsp;

<h4>Scoreboard Facet</h4>

<dl>
  <dt>key_field:<em>&lt;'author'|'tag'&gt;</em></dt>
  <dd>The field to aggregate on. Required.</dd>
  <dt>value_field:<em>&lt;String&gt;</em></dt>
  <dd>The field containing the values. Required.</dd>
  <dt>unit:<em>&lt;String&gt;</em></dt>
  <dd>The unit of the value. Required for fields with units.</dd>
  <dt>limit:<em>&lt;integer&gt;</em></dt>
  <dd>How many results to return. Defaults to <em>10</em>.</dd>
  <dt>order:<em>&lt;'-'&gt;&lt;'term'|'count'|'min'|'max'|'sum'|'avg'&gt;</em></dt>
  <dd>Order results by term or on a statistic, descending if prefixed with '-'. Defaults to <em>-sum</em>.</dd>
  <dt>filter:<em>&lt;constraint&gt;</em></dt>
  <dd>Optional <a href="/#/api/constraints">constraint</a>.</dd>
</dl>

<h5>Example:</h5>

<pre>id:xyz,type:scoreboard,key_field:author,value_field:steps,order:min</pre>

<pre><code data-ui-highlight class="lang-json">"xyz" : [
  { "label" : "dch4v3salm", "count" : 364, "min" : 1640, "max" : 38215, "sum" : 3899768, "avg" : 10713.65 },
  ...
]</code></pre>

&nbsp;

<h4>Scatter Plot Facet</h4>

<dl>
  <dt>field_x:<em>&lt;String&gt;</em></dt>
  <dd>The field for the x series. Required.</dd>
  <dt>unit_x:<em>&lt;String&gt;</em></dt>
  <dd>The unit for the x series. Required for fields with units.</dd>
  <dt>statistic_x:<em>&lt;'count'|'avg'|'min'|'max'|'sum'&gt;</em></dt>
  <dd>The aggregate function for the x series. Defaults to <em>avg</em>.</dd>
  <dt>filter_x:<em>&lt;constraint&gt;</em></dt>
  <dd>Optional <a href="/#/api/constraints">constraint</a> for the x series.</dd>
  <dt>field_y:<em>&lt;String&gt;</em></dt>
  <dd>The field for the y series. Required.</dd>
  <dt>unit_y:<em>&lt;String&gt;</em></dt>
  <dd>The unit for the y series. Required for fields with units.</dd>
  <dt>statistic_y:<em>&lt;'count'|'avg'|'min'|'max'|'sum'&gt;</em></dt>
  <dd>The aggregate function for the y series. Defaults to <em>avg</em>.</dd>
  <dt>filter_y:<em>&lt;constraint&gt;</em></dt>
  <dd>Optional <a href="/#/api/constraints">constraint</a> for the y series.</dd>
  <dt>interval:<em>&lt;'year'|'month'|'week'|'day'|'hour'|'minute'&gt;</em></dt>
  <dd>The interval at which values are aggregated. Defaults to <em>day</em>.</dd>
  <dt>timezone:<em>&lt;Z&gt;</em></dt>
  <dd>The timezone offset to use. If not specified, local times are used.</dd>
  <dt>lag:<em>&lt;Integer&gt;</em></dt>
  <dd>The number of time units (see <i>interval</i>) by which to offset the y series values from the x series values. Defaults to <em>0</em>.</dd>
  <dt>key_field:<em>&lt;'timestamp'|'timestamp$min'|'timestamp$max'&gt;</em></dt>
  <dd>How to handle events with multiple timestamps. Defaults to <em>timestamp</em>, i.e. aggregate on each timestamp, rather than on the highest or lowest timestamp.</dd>
</dl>

<h5>Example:</h5>

<pre>id:xyz,type:scatterplot,field_x:duration,field_y:duration,statistic:sum,interval:day,lag:1</pre>

<pre><code data-ui-highlight class="lang-json">"xyz" : [
  [ 2.826E+7, 2.592E+7 ],
  [ 2.898E+7, 2.826E+7 ],
  [ 3.126E+7, 2.898E+7 ],
  ...
]</code></pre>

&nbsp;

<h4>Gantt Facet</h4>

<dl>
  <dt>field:<em>&lt;String&gt;</em></dt>
  <dd>The field containing the values. Required.</dd>
  <dt>limit:<em>&lt;integer&gt;</em></dt>
  <dd>How many results to return. Defaults to <em>10</em>.</dd>
  <dt>order:<em>&lt;-&gt;&lt;'term'|'count'|'min'|'max'&gt;</em></dt>
  <dd>Order results by term, count, first (min) or last (max) occurence, descending if prefixed with '-'. Defaults to <em>-max</em>.</dd>
  <dt>timezone:<em>&lt;Z&gt;</em></dt>
  <dd>The timezone offset to use. Defaults to <em>+00:00</em></dd>
  <dt>key_field:<em>&lt;'timestamp'|'timestamp$min'|'timestamp$max'&gt;</em></dt>
  <dd>How to handle events with multiple timestamps. Defaults to <em>timestamp</em>, i.e. aggregate on each timestamp, rather than on the highest or lowest timestamp.</dd>
  <dt>filter:<em>&lt;constraint&gt;</em></dt>
  <dd>Optional <a href="/#/api/constraints">constraint</a>.</dd>
</dl>

<h5>Example:</h5>

<pre>id:xyz,type:gantt,field:tag,order:-max,timezone:-08:00</pre>

<pre><code data-ui-highlight class="lang-json">"xyz" : [
  { "label" : "dinner", "count" : 22, "first" : "2013-01-01T18:23:00.000-08:00", "last":"2013-11-07T19:45:00.000-08:00" },
  { "label" : "lunch", "count" : 31, "first" : "2013-01-01T13:23:00.000-08:00", "last":"2013-11-07T12:05:00.000-08:00" },
  ...
]</code></pre>

&nbsp;

<h4>Histogram Facet</h4>

<dl>
  <dt>field:<em>&lt;String&gt;</em></dt>
  <dd>The field containing the values. Required.</dd>
  <dt>unit:<em>&lt;String&gt;</em></dt>
  <dd>The unit of the value. Required for fields with units.</dd>
  <dt>interval:<em>&lt;Integer&gt;</em></dt>
  <dd>The bucket size. Defaults to <em>10</em>.</dd>
  <dt>filter:<em>&lt;constraint&gt;</em></dt>
  <dd>Optional <a href="/#/api/constraints">constraint</a>.</dd>
</dl>

<h5>Example:</h5>

<pre>id:xyz,type:histogram,field:distance,unit:mi,interval:5</pre>

<pre><code data-ui-highlight class="lang-json">"xyz" : [
  { "count" : 1, "from" : { "@value" : 35, "unit" : "mi" }, "to" : { "@value" : 4E+1, "unit" : "mi" }},
  { "count" : 7, "from" : { "@value" : 15, "unit" : "mi" }, "to" : { "@value" : 2E+1, "unit" : "mi" }},
  ...
]</code></pre>

&nbsp;

<h4>Polar Facet</h4>

<dl>
  <dt>key_field:<em>&lt;String&gt;</em></dt>
  <dd>A field containing a timestamp. Defaults to <em>timestamp</em>.</dd>
  <dt>value_field:<em>&lt;String&gt;</em></dt>
  <dd>A field containing the values to be aggregated. Optional; if not set, only a count is returned for each interval.</dd>
  <dt>unit:<em>&lt;String&gt;</em></dt>
  <dd>The unit of the values. Required for fields with units.</dd>
  <dt>interval:<em>&lt;'hour_of_day'|'day_of_week'|'day_of_month'|'day_of_year'|'month_of_year'&gt;</em></dt>
  <dd>The (local, timezone-independent) interval to aggregate on. Required.</dd>
  <dt>filter:<em>&lt;constraint&gt;</em></dt>
  <dd>Optional <a href="/#/api/constraints">constraint</a>.</dd>
  <dt>key_field:<em>&lt;'timestamp'|'timestamp$min'|'timestamp$max'&gt;</em></dt>
  <dd>How to handle events with multiple timestamps. Defaults to <em>timestamp</em>, i.e. aggregate on each timestamp, rather than on the highest or lowest timestamp.</dd>
</dl>

<h5>Example:</h5>

<pre>id:xyz,type:polar,interval:day_of_week</pre>

<pre><code data-ui-highlight class="lang-json">"xyz" : [
  { "value" : 1, "label" : "Mon", "count" : 26 },
  { "value" : 2, "label" : "Tue", "count" : 14 },
  { "value" : 3, "label" : "Wed", "count" : 10 },
  ...
]</code></pre>

</section>

<section id="api-errors">

<h3>Errors</h3>

<p>The following error codes could be returned for most requests:</p>

<dl>

<dt>400 Bad Request</dt>
<dd>Invalid or missing parameters or request body; check the response body for an explanation.</dd>

<dt>401 Unauthorized</dt>
<dd>Missing <code>Authentication</code> header.</dd>

<dt>403 Forbidden</dt>
<dd>Authentication failed, or insufficient permissions.</dd>

<dt>404 Not Found</dt>
<dd>The requested resource doesn't exist.</dd>

<dt>409 Conflict</dt>
<dd>Trying to update a stale resource.</dd>

<dt>500 Internal Server Error</dt>
<dd>Shouldn't happen; please contact us.</dd>

<dt>503 Service Unavailable</dt>
<dd>The site is down for maintenance or overloaded; contact us if this lasts longer than a few minutes.</dd>

</dl>

<p>The response may contain a body with a description of the problem:</p>

<pre><code data-ui-highlight class="lang-json">{
  "message" : <em>&lt;String&gt;</em>
}</code></pre>

</section>

</section>

</div>
