<div id="home-view" class="container-fluid">

	<div class="hero-unit" data-ng-controller="HomeController">
		<h1>Got data? Get answers.</h1>
		<p class="lead">Store, aggregate and visualize your data.</p>
		<p data-ng-hide="user">
			<a id="new-user-link" class="btn btn-large btn-primary" data-ng-click="start()">Get Started &raquo;</a>
		</p>
		<p data-ng-show="user">
			<a id="existing-user-link" class="btn btn-large btn-primary" data-ng-href="/#/users/{{user.getName()}}">My Data &raquo;</a>
		</p>
		<p class="social">
			<a href="https://twitter.com/zenobase" title="Twitter"><i class="fa fa-white fa-twitter-square"></i></a>
			<a href="https://www.facebook.com/zenobase" title="Facebook"><i class="fa fa-white fa-facebook-square"></i></a>
			<a href="https://www.linkedin.com/company/2676455" title="LinkedIn"><i class="fa fa-white fa-linkedin-square"></i></a>
			<a href="https://blog.zenobase.com/" title="Blog"><i class="fa fa-white fa-tumblr-square"></i></a>
			<a href="https://www.youtube.com/user/zenobase" title="YouTube"><i class="fa fa-white fa-youtube-square"></i></a>
			<a href="https://www.pinterest.com/zenobase/" title="Pinterest"><i class="fa fa-white fa-pinterest-square"></i></a>
			<a href="https://github.com/zenobase" title="GitHub"><i class="fa fa-white fa-github-square"></i></a>
		</p>
	</div>

	<div id="home-examples">
		<ul class="media-list">

			<li class="media"></li>

			<li class="media">
				<a class="pull-left" title="" style="cursor: default;">
					<img class="media-object" width="200" height="200" src="img/home/histogram_200x200.png" alt=""/>
				</a>
				<div class="media-body lead">
					<p><strong>What's the ideal room temperature for sleeping?</strong></p>
					<p>Combine data from an indoor weather station (Netatmo) with sleep data (Fitbit, Withings or SleepCloud).</p>
				</div>
			</li>

			<li class="media"></li>

			<li class="media">
				<a class="pull-right" href="https://youtu.be/b2q8CLRAPrM" title="Watch screencast">
					<img class="media-object" width="200" height="200" src="img/home/scatterplot_200x200.png" alt=""/>
				</a>
				<div class="media-body lead">
					<p><strong>Does the phase of the moon affect my sleep?</strong></p>
					<p><a href="https://blog.zenobase.com/post/81497604762">Correlate</a> sleep data
					(Fitbit, Withings or SleepCloud) with environmental data.</p>
					<p><a href="https://youtu.be/b2q8CLRAPrM">Watch screencast &raquo;</a></p>
				</div>
			</li>

			<li class="media"></li>

			<li class="media">
				<a class="pull-left" href="#" title="" style="cursor: default;">
					<img class="media-object" width="200" height="200" src="img/home/polar_200x200.png" alt=""/>
				</a>
				<div class="media-body lead">
					<p><strong>What days of the week do I spend more time working at home than at work?</strong></p>
					<p>Combine time-tracking (RescueTime) and location data (Foursquare).</p>
				</div>
			</li>

			<li class="media"></li>

			<li class="media">
				<a class="pull-right" href="https://zenobase.com/#/buckets/u07qih0a27/" title="Live dashboard">
					<img class="media-object" width="200" height="200" src="img/home/map_200x200.png" alt=""/>
				</a>
				<div class="media-body lead">
					<p><strong>Where do I go hiking this time of the year?</strong></p>
					<p>Explore activities from services like MapMyFitness, RunKeeper, Strava, or add your own data.</p>
					<p><a href="https://zenobase.com/#/buckets/u07qih0a27/">Live dashboard &raquo;</a></p>
				</div>
			</li>

			<li class="media"></li>

			<li class="media">
				<a class="pull-left" href="https://youtu.be/X_X-9oyBLE8" title="Watch screencast">
					<img class="media-object" width="200" height="100" src="img/home/timeline_200x100.png" alt=""/>
				</a>
				<div class="media-body lead">
					<p><strong>What affects my resting heart rate more, swimming or working out?</strong></p>
					<p>A/B test your resting heart rate (Withings) using location data (Foursquare).</p>
					<p><a href="https://youtu.be/X_X-9oyBLE8">Watch screencast &raquo;</a></p>
				</div>
			</li>

		</ul>
	</div>

</div>
