<div id="oauth-view" class="container-fluid" data-ng-controller="OAuthController">

	<form>
		<div id="oauth-message" class="alert alert-block alert-error" data-ng-show="message">
			{{message}}
		</div>
		<div class="control-group">
			<label class="control-label" for="oauth-bucket">Grant <strong>{{client | username}}</strong> access to:</label>
		</div>
		<div class="control-group">
			<div class="controls">
				<select name="bucket" data-ng-model="bucket" data-ng-options="bucket['@id'] as bucket.label for bucket in buckets"></select>
			</div>
		</div>
		<div>
			<button id="oauth-allow" class="btn btn-primary" data-ng-click="allow()" data-ng-disabled="!valid()">Allow</button>
			<button id="oauth-deny" class="btn" data-ng-click="deny('access_denied', 'user did not grant access')">Deny</button>
		</div>
	</form>

</div>
