<div id="pricing" class="container-fluid">

	<div class="row-fluid page-titlebar">
		<p class="pull-left page-title">
			<span class="page-title-text">Pricing</span>
		</p>
	</div>

	<div class="row">

		<div class="span3 alert" data-ng-class="user && !user.quota && 'alert-success' || 'alert-info'" style="min-height: 10em">
			<h4>Free</h4>
			<p></p>
			<p>Record or update up to 50K events per month for <strong>free</strong>, pull in new data manually.</p>
			<button class="btn" data-ng-hide="user" data-ng-click="start()" data-ng-controller="HomeController">Select</button>
			<button class="btn" data-ng-show="user" data-ng-disabled="!user.quota" data-ng-click="openDialog('free-plan-dialog')">Select</button>
		</div>

		<div class="span3 alert" data-ng-class="user && user.quota == 3000000 && 'alert-success' || 'alert-info'" style="min-height: 10em">
			<h4>Personal</h4>
			<p></p>
			<p>Record or update up to 3M events per month for <strong>$5 per month</strong>, pull in new data automatically.</p>
			<button class="btn" data-ng-disabled="!user" data-ng-click="openDialog('personal-plan-dialog')">
				<span data-ng-hide="user.quota">Select</span>
				<span data-ng-show="user.quota">Edit...</span>
			</button>
		</div>

		<div class="span3 alert alert-info" style="min-height: 10em">
			<h4>Custom</h4>
			<p></p>
			<p>Custom installations and consulting services.</p>
			<a class="btn" href="mailto:info@zenobase.com">Contact</a>
		</div>

	</div>

	<div id="free-plan-dialog" class="hide" data-ui-modal data-ng-controller="FreePlanDialogController">
		<form name="form" data-ng-submit="cancel()" class="modal-form" novalidate>
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Free Plan</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-error" data-ng-show="message">
					{{message}}
				</div>
				<div>
					<p class="lead">Your credit card will <strong>no longer</strong> be charged.</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" data-ng-disabled="processing">Confirm</button>
				<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

	<div id="personal-plan-dialog" class="hide" data-ui-modal data-ng-controller="PersonalPlanDialogController">
		<form name="form" data-ng-submit="pay()" class="modal-form" novalidate>
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Personal Plan</h4>
			</div>
			<div class="modal-body" data-ng-hide="user.verified">
				<p class="lead">Please verify your email address.</p>
			</div>
			<div class="modal-body" data-ng-show="user.verified">
				<div class="alert alert-error" data-ng-show="message">
					{{message}}
				</div>
				<div>
					<p class="lead" data-ng-hide="user.quota">Your credit card will be charged <strong>$5 once a month</strong>.</p>
					<p class="lead" data-ng-show="user.quota">Your credit card is being charged <strong>$5 once a month</strong>.</p>
					<div>
						<div id="braintree" class="control-group"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a data-ng-href="https://www.braintreegateway.com/merchants/{{merchantId}}/verified" title="Braintree Secure Payments" target="_blank" class="pull-left">
					<img src="https://s3.amazonaws.com/braintree-badges/braintree-badge-dark.png" width="164px" height ="44px" border="0"/>
				</a>
				<button type="submit" class="btn btn-primary" data-ng-disabled="processing || !user.verified">Confirm</button>
				<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
