<div id="password-reset-view" class="container-fluid" data-ng-controller="PasswordResetController">

	<form name="form" novalidate data-ng-submit="submit()">
		<div id="password-reset-message" class="alert alert-block alert-error" data-ng-show="message">
			{{message}}
		</div>
		<div class="control-group">
			<label class="control-label" for="password-reset-password">Password (min 8 characters)</label>
			<div class="controls">
				<input id="password-reset-password" type="password" class="large" autofocus required data-ng-minlength="8" data-ng-model="password"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password-reset-password-confirm">Confirm Password</label>
			<div class="controls">
				<input id="password-reset-password-confirm" type="password" class="large" required data-ng-minlength="8" data-ng-model="passwordConfirmed"/>
			</div>
		</div>
		<button id="password-reset-button" type="submit" class="btn btn-primary" data-ng-disabled="!form.$valid">Reset Password</button>
	</form>

</div>
